<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- begin create tag dialog -->
<div th:fragment="create_tag_dialog" th:if="${currentDeviceTypeVersion!=null}" id="create-tag-dialog" title="Create tag" class="modal">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <form class="form-horizontal form-create-tag" action="#" th:action="@{'/data-models/'+${currentDeviceTypeVersion.id}+'/tags'}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-uppercase">Create tag</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tag Name <span class="text-danger">*</span></label>

                        <div class="col-md-4">
                            <input name="name" type="text" id="tagName" class="form-control" placeholder="VoIP" required="required" notExisted="notExisted"
                                   th:check-api="${'/tags/existed?deviceTypeVersionId='+currentDeviceTypeVersion.id+'&tagName='}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tag type <span class="text-danger">*</span></label>

                        <div class="col-md-4">
                            <select name="type" class="form-control select" id="tagType" required="required">
                                <option value="">- Select tag type -</option>
                                <option value="PARAMS">PARAMS</option>
                                <option value="OBJECT">OBJECT</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group formGroupParentObject">
                        <label class="col-md-2 control-label">Parent Object</label>

                        <div class="col-md-4">
                            <select name="parentObject" id="parentObject" class="form-control parameter-path-parent select" data-placeholder="- Select parent object -">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Parameters</label>
                        <div class="col-md-10 list-parameter-row">
                            <div class="row tag-parameter-row" rowOrder="1">
                                <div class="col-md-3">
                                    <input name="shortName_1" type="text" class="form-control" placeholder="Short name" required="required" unique="unique">
                                </div>

                                <div class="col-md-6">
                                    <input name="path_1" type="text" class="form-control parameter-path" placeholder="Path" required="required" unique="unique">
                                </div>

                                <div class="col-md-2">
                                    <input name="value_1" type="text" class="form-control" placeholder="Value">
                                </div>

                                <div class="col-md-1">
                                    <a type="button" class="btn btn-xs btn-default btn-icon legitRipple btn-remove-parameter" rowOrder="1"><i class="icon-minus3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary legitRipple">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end create tag dialog -->
</body>
</html>