<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="edit_performance_settings_dialog" id="edit-performance-settings-dialog" th:title="#{performance.setting.edit}" class="container">
    <form id="form_edit_performance_settings" action="#" class="form-horizontal" novalidate="novalidate"
          th:action="@{/performance-setting/edit}" method="POST" enctype="multipart/form-data">
        <input type="hidden" id="addNewFileParam" th:value="${addNewFileParam}">
        <fieldset class="content-group">
            <legend class="text-bold" th:text="#{performance.setting.select.traffic}"></legend>
            <div class="row">
                <input type="hidden" name="performanceId" id="performanceId"/>
                <div class="form-group col-md-5">
                    <label class="col-sm-4 control-label" th:text="#{performance.setting.traffic}"></label>
                    <div class="col-sm-8">
                        <select class="select2 form-control"
                                name="traffic" id="editTraffic"
                                th:data-placeholder="#{select.search.placeholder}">
                            <!--<option value="ALL">- All -</option>-->
                            <option value="LAN" selected>LAN Statistics</option>
                            <option value="WAN">WAN Statistics</option>
                            <option value="WLAN">WLAN Statistics</option>
                            <option value="CPU">CPU Statistics</option>
                            <option value="RAM">RAM Statistics</option>
                            <option value="VOIP">VoIP Service</option>
                            <option value="STB">STB Service</option>
                            <!--<option value="jitter">Jitter/MOS/Packet lost/Latency</option>-->
                        </select>
                    </div>
                </div>

                <div id="editTrafficType" class="form-group col-md-4">
                    <label class="col-sm-2 control-label" th:text="#{performance.setting.type}"></label>
                    <div class="col-sm-10">
                        <select class="select2 form-control"
                                name="type" id="editType"
                                th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option value="RECEIVED" selected>Traffic Received</option>
                            <option value="TRANSMITTED">Traffic Transmitted</option>
                        </select>
                    </div>
                </div>

                <div id="editTrafficInterval" class="form-group col-md-3">
                    <label class="col-sm-7 control-label" th:text="#{performance.setting.interval}"></label>
                    <div class="col-sm-5">
                        <input class="form-control" id="editInterval" name="interval" type="number" min="1" max="12">
                    </div>
                </div>

            </div>
        </fieldset>


        <fieldset class="content-group">
            <legend class="text-bold" th:text="#{performance.setting.select.device}"></legend>
            <div class="row">

                <div class="form-group col-md-4" style="border-right: 1px solid #e5e5e5;">

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-sm-2" style="padding-top: 8px;">
                                <input type="checkbox" name="single" id="editSingle" class="control-danger" checked>
                            </div>
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.single}"></label>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.manufacturer}"></label>
                            <div class="col-sm-8">
                                <select class="select2 form-control"
                                        name="Manufacturer" id="editManufacturer"
                                        th:data-placeholder="#{select.search.placeholder}">
                                    <option value=""></option>
                                    <option th:each="subTem:${manufacturerlist}"
                                            th:value="${subTem}"
                                            th:text="${subTem}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.model}"></label>
                            <div class="col-sm-8">
                                <select class="select2 form-control"
                                        name="ModelName" id="editModel"
                                        th:data-placeholder="#{select.search.placeholder}">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.serial}"></label>
                            <div class="col-sm-8">
                                <select class="select2 form-control"
                                        name="SerialNumber" id="editSerial"
                                        th:data-placeholder="#{select.search.placeholder}">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-4" style="border-right: 1px solid #e5e5e5;">

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-sm-2" style="padding-top: 8px;padding-left: 25px;">
                                <input type="checkbox" name="group" id="editGroup" class="control-danger">
                            </div>
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.group}"></label>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.filter}" style="padding-left: 25px;"></label>
                            <div class="col-sm-8">
                                <select class="select2 form-control" id="editFilter" name="filter"
                                        th:data-placeholder="#{alarm.setting.group.choose}">
                                    <option value=""></option>
                                    <option th:each="_deviceGroup:${deviceGroups}" th:value="${_deviceGroup.id}"
                                            th:text="${_deviceGroup.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group col-md-4">

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-sm-2" style="padding-top: 8px;padding-left: 25px;">
                                <input type="checkbox" name="file" id="editFile" class="control-danger">
                            </div>
                            <label class="col-sm-4 control-label" th:text="#{performance.setting.file}"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12" style="padding-top: 8px;padding-left: 36px;">
                            <div class="uploader">
                                <input type="file" accept=".xlsx, .txt"   class="file-style" name="externalFile" id="editExternalFile">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </fieldset>

        <fieldset class="content-group">
            <legend class="text-bold" th:text="#{performance.setting.select.schedule}"></legend>
            <div class="row">

                <div class="form-group col-md-6">
                    <label class="col-sm-2 control-label" th:text="#{performance.setting.startDate}"></label>
                    <div class="col-sm-8">
                        <div class='input-group date' id='datetimepicker5'>
                            <input id="editFromDate" name="fromDate" type='text' class="form-control" required="required"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-sm-2 control-label" th:text="#{performance.setting.endDate}"></label>
                    <div class="col-sm-8">
                        <div class='input-group date' id='datetimepicker6'>
                            <input id="editToDate" name="toDate" type='text' class="form-control" required="required"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
        <div class="text-right">
            <center>
                <button type="submit" class="btn btn-primary legitRipple" th:text="#{button.save}"><i
                        class="icon-arrow-right14 position-right"></i></button>
                <a id="edit-performance-dialog-close" class="btn btn-warning text-center" th:text="#{button.cancel}">Cancel</a>
            </center>
        </div>
    </form>
</div>
</body>
</html>