<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devices</title>

    <!-- Global stylesheets -->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">-->
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="/ump/detail_page.js"></script>
    <script type="text/javascript" src="/ump/ump.js"></script>
    <script type="text/javascript" src="/ump/common.js"></script>

</head>
<body>

<th:block layout:fragment="content">
    <div class="page-container">
        <div class="panel panel-white" th:if="!${noDevice}">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4><a th:href="@{/}"><i class="icon-circle-left2"></i></a> <span
                            th:text="${'Serial ' + device.serialNumber()}"> Basic tabs</span></h4>
                </div>
                <div class="heading-elements">
                    <select class="input-sm" name="team" id="team">
                        <option value="1">Next contact</option>
                        <option value="2">Now</option>
                    </select>
                    <button id="confirm-reset-dialog-opener" class="btn btn-sm btn-primary"
                            th:if="${device.isOnline()}">Factory Reset
                    </button>
                    <button class="btn btn-sm btn-primary" th:if="${!device.isOnline()}" disabled>Factory Reset</button>
                    <button id="confirm-reboot-dialog-opener" class="btn btn-sm btn-primary"
                            th:if="${device.isOnline()}">Reboot
                    </button>
                    <button class="btn btn-sm btn-primary" th:if="${!device.isOnline()}" disabled>Reboot</button>
                </div>
            </div>
            <div class="panel-body">
                <div id="confirm-reset-dialog" title="Are you sure to Factory Reset?">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a id="confirm-reset-now-dialog"
                               th:href="@{/devices/{deviceId}/factoryReset(deviceId=${device.id},now ='true')}"
                               class="btn btn-primary text-center" role="button">Reset</a>
                            <a id="confirm-reset-next-dialog"
                               th:href="@{/devices/{deviceId}/factoryReset(deviceId=${device.id},now ='false')}"
                               class="btn btn-primary text-center" role="button">Reset</a>
                            <button id="confirm-reset-dialog-close" class="btn btn-warning text-center">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="confirm-reboot-dialog" title="Are you sure to Reboot?">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a id="confirm-reboot-now-dialog"
                               th:href="@{/devices/{deviceId}/reboot(deviceId=${device.id},now ='true')}"
                               class="btn btn-primary text-center" role="button">Reboot</a>
                            <a id="confirm-reboot-next-dialog"
                               th:href="@{/devices/{deviceId}/reboot(deviceId=${device.id},now ='false')}"
                               class="btn btn-primary text-center" role="button">Reboot</a>
                            <button id="confirm-reboot-dialog-close" class="btn btn-warning text-center">Cancel</button>
                        </div>
                    </div>
                </div>
                <div th:replace="devices/alerts::alerts"></div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basic-tab1" data-toggle="tab" th:text="#{device.detail.overview.tab}">Overview</a></li>
                        <!--<li><a href="#basic-tab2" data-toggle="tab" th:text="#{device.detail.assignment.tab}">Assignment</a></li>-->
                        <li><a href="#configuration_tab" data-toggle="tab"
                               onclick='return fillTabConfiguration(1)' id="_tabConfiguration" th:text="#{device.detail.configuration.tab}" >Configuration</a>
                        </li>
                        <!--<li><a href="#diagnostic_tab" data-toggle="tab"-->
                               <!--onclick='return fillTabDiagnostic(1)' id="_tabDiagnostic" th:text="#{device.detail.diagnostics.tab}">Diagnostics</a></li>-->
                        <li><a href="#tasks_tab" data-toggle="tab"
                               onclick='return fillTabTask(1)' id="_tabTask" th:text="#{device.detail.task.tab}">Tasks</a></li>
                        <!--<li><a href="#basic-tab6" data-toggle="tab" th:text="#{device.detail.log.tab}">Logs</a></li>-->
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="basic-tab1">
                            <div class="row">
                                <div class="col-md-6" th:each="key : ${indexParams.keySet()}">
                                    <div class="form-group col-md-12">
                                        <label class="control-label col-md-4" th:text="${indexParams.get(key)}"></label>
                                        <div class="col-md-8" th:text="${device.parameters.get(key)}"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group col-md-12">
                                        <label class="control-label col-md-4">Status</label>
                                        <span th:class="${device.isOnline()} ?  'label label-success col-md-1' : 'label label-danger col-md-1' " th:text="${device.isOnline() ? 'Online' :'Offline'}" id="deviceStatus"></span>
                                        <!--<div class="col-md-8"-->
                                             <!--th:text="${device.isOnline() ? 'Online' :'Offline'}"></div>-->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel panel-default border-grey">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <select class="selectboxit selectbox selectboxit-enabled selectboxit-btn valid" id="_componentSelectTag" aria-invalid="false" _componentselecttag="">
                                                <option th:each="key : ${tags.get('overview')}"
                                                        th:text="${key.name}"></option>
                                            </select>

                                        </div>
                                        <div class="heading-elements">
                                            <ul class="icons-list">
                                                <!--<li><a data-action="collapse"></a></li>-->
                                                <li><a data-action="none" id="_reloadTagTable" title="Click to refresh"></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                       <div id="dataTag" ></div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="basic-tab2">
                            <!--<div th:replace="devices/interaction_tab::interaction_tab"></div>-->
                        </div>

                        <div class="tab-pane" id="configuration_tab">
                            <!--<div th:replace="devices/config/configuration_tab::configuration_tab"></div>-->
                        </div>

                        <!--<div class="tab-pane" id="diagnostic_tab">-->
                            <!--<div th:replace="devices/diagnostics_tab::diagnostics_tab"></div>-->
                        <!--</div>-->
                        <div class="tab-pane" id="tasks_tab">
                            <!--<div th:replace="devices/tasks_tab::tasks_tab"></div>-->
                        </div>
                        <div class="tab-pane" id="basic-tab6">
                            <div th:replace="devices/logs_tab::logs_tab"></div>
                        </div>
                    </div>
                    <p th:text="${device.id}"  hidden="true" id="deviceId"/>
                </div>
            </div>
        </div>

        <!--No data-->
        <div class="panel panel-white" th:if="${noDevice}">
            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="text-uppercase">Device detail</h4>
                </div>
            </div>
            <div class="panel-body">
                <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
            </div>
        </div>
        <!--/no data-->
    </div>

</th:block>
</body>
</html>