<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Device Diagnostics</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/assets/js/plugins/ui/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>
    <!-- App js files -->
    <script type="text/javascript" src="/ump/create_device_diagnostic.js"></script>
</head>
<body>



<div class="page-container" layout:fragment="content">

    <div class="sidebar sidebar-main sidebar-default">
        <h4><i class="position-left"></i>
            <span class="text-semibold" th:text="#{device.list}"></span>
        </h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/"><span th:text="#{device.listTitle}"></span></a></li>
            <li><a th:href="@{'/devices/device_info/'} + ${deviceID}"><span th:text="#{device.deviceInfo}"></span></a></li>
            <li><a th:href="@{'/devices/device_settings/'} + ${deviceID}"><span th:text="#{device.deviceSettings}"></span></a></li>
            <li><a th:href="@{'/devices/device_advanced_view/'} + ${deviceID}"><span th:text="#{device.deviceAdvancedView}"></span></a></li>
            <li><a th:href="@{'/devices/device_customRPC/'} + ${deviceID}"><span th:text="#{device.deviceCustomRPC}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_download/'} + ${deviceID}"><span th:text="#{device.deviceFileDownload}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_upload/'} + ${deviceID}"><span th:text="#{device.deviceFileUpload}"></span></a></li>
            <li class="active"><a th:href="@{'/devices/device_diagnostics/'} + ${deviceID}"><span th:text="#{device.deviceDiagnostics}"></span></a></li>
            <li><a th:href="@{'/devices/device_activity/'} + ${deviceID}"><span th:text="#{device.deviceLogs}"></span></a></li>
        </ul>

    </div>

    <div class="panel">
        <!-- alert -->
        <div class="row group-tree-body">

            <div class="alert alert-danger no-border" hidden="true" id="alert_danger_validate_url">
                <input id="alert_danger_validate_url_input" th:class="#{device.fileUpload.validate.url}" type="hidden">
                <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                <span class="text-semibold" ></span>
            </div>

            <form id ="form_create_device_diagnostics" action="#" class="form-horizontal form-validate-jquery" novalidate="novalidate" th:action="@{'/devices/device_diagnostics/result/' + ${deviceID}}"  method="POST">

                <div class="form-group">
                    <label class="control-label col-sm-3">Diagnostics type <span class="text-danger"></span></label>
                    <div class="col-sm-9" style="padding-top: 25px;">
                        <select class="select2 form-control" name="type" style="width: 100%;" id="selectDiagnosticType">
                            <option th:each="key : ${listParameter.keySet()}" th:text="${key}"></option>
                        </select>
                    </div>
                </div>


                <div class="form-group diagnosticParameter" th:each="parameter : ${listParameter.get('TraceRoute:1:InternetGatewayDevice')}" th:if="${parameter.access=='true'}" th:classappend="${parameter.diagnosticKey}">
                    <label class="control-label col-sm-3"  th:text="${parameter.shortName}"><span class="text-danger"></span></label>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()==0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <input th:id="${parameter.shortName}" th:name="${parameter.inputName}" type="text" th:minlength="${parameter.min!='null'} ? ${parameter.min}" th:maxlength="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()>0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${parameter.values}" th:text="${p}"></option>
                        </select>
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and (${parameter.dataType=='unsignedInt'} or ${parameter.dataType=='unsignedLong'} or ${parameter.dataType=='int'})">
                        <input th:name="${parameter.inputName}" type="number" th:min="${parameter.min!='null'} ? ${parameter.min}" th:max="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName=='DiagnosticsState'}">
                        <input id='DiagnosticsState' th:name="${parameter.inputName}" type="text" value="Requested" class="form-control" readonly>
                    </div>
                    <div class="col-sm-9" style="padding-top: 25px;" th:if="${parameter.shortName=='Interface'}">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${listInterface}" th:text="${p}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group diagnosticParameter" th:each="parameter : ${listParameter.get('IPPing:1:InternetGatewayDevice')}" th:if="${parameter.access=='true'}" th:classappend="${parameter.diagnosticKey}">
                    <label class="control-label col-sm-3"  th:text="${parameter.shortName}"><span class="text-danger"></span></label>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()==0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <input th:id="${parameter.shortName}" th:name="${parameter.inputName}" type="text" th:minlength="${parameter.min!='null'} ? ${parameter.min}" th:maxlength="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()>0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${parameter.values}" th:text="${p}"></option>
                        </select>
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and (${parameter.dataType=='unsignedInt'} or ${parameter.dataType=='unsignedLong'} or ${parameter.dataType=='int'})">
                        <input th:name="${parameter.inputName}" type="number" th:min="${parameter.min!='null'} ? ${parameter.min}" th:max="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="padding-top: 25px;" th:if="${parameter.shortName=='Interface'}">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${listInterface}" th:text="${p}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group diagnosticParameter" th:each="parameter : ${listParameter.get('Download:1:InternetGatewayDevice')}" th:if="${parameter.access=='true'}" th:classappend="${parameter.diagnosticKey}">
                    <label class="control-label col-sm-3"  th:text="${parameter.shortName}"><span class="text-danger"></span></label>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()==0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <input th:id="${parameter.shortName}" th:name="${parameter.inputName}" type="text" th:minlength="${parameter.min!='null'} ? ${parameter.min}" th:maxlength="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()>0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${parameter.values}" th:text="${p}"></option>
                        </select>
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and (${parameter.dataType=='unsignedInt'} or ${parameter.dataType=='unsignedLong'} or ${parameter.dataType=='int'})">
                        <input th:name="${parameter.inputName}" type="number" th:min="${parameter.min!='null'} ? ${parameter.min}" th:max="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="padding-top: 25px;" th:if="${parameter.shortName=='Interface'}">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${listInterface}" th:text="${p}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group diagnosticParameter" th:each="parameter : ${listParameter.get('Upload:1:InternetGatewayDevice')}" th:if="${parameter.access=='true'}" th:classappend="${parameter.diagnosticKey}">
                    <label class="control-label col-sm-3"  th:text="${parameter.shortName}"><span class="text-danger"></span></label>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()==0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <input th:id="${parameter.shortName}" th:name="${parameter.inputName}" type="text" th:minlength="${parameter.min!='null'} ? ${parameter.min}" th:maxlength="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and ${parameter.values.size()>0} and (${parameter.dataType=='string'} or ${parameter.dataType=='dateTime'} or ${parameter.dataType=='boolean'} or ${parameter.dataType=='base64'} or ${parameter.dataType==''})">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${parameter.values}" th:text="${p}"></option>
                        </select>
                    </div>
                    <div class="col-sm-9" style="" th:if="${parameter.shortName!='Interface'} and ${parameter.shortName!='DiagnosticsState'} and (${parameter.dataType=='unsignedInt'} or ${parameter.dataType=='unsignedLong'} or ${parameter.dataType=='int'})">
                        <input th:name="${parameter.inputName}" type="number" th:min="${parameter.min!='null'} ? ${parameter.min}" th:max="${parameter.max!='null'} ? ${parameter.max}" placeholder="" class="form-control">
                    </div>
                    <div class="col-sm-9" style="padding-top: 25px;" th:if="${parameter.shortName=='Interface'}">
                        <select class="select2 form-control" th:name="${parameter.inputName}" style="width: 100%;">
                            <option th:each="p : ${listInterface}" th:text="${p}"></option>
                        </select>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary legitRipple" th:text="#{grouptree.creat.button.save}">Submit <i class="icon-arrow-right14 position-right"></i></button>
                    <b id="create-diagnostics-dialog-close" class="btn btn-warning text-center" th:text="#{grouptree.creat.button.cancel}" th:data-href="@{'/devices/device_diagnostics/' + ${deviceID}}">Cancel</b>
                </div>
            </form>

    </div>

</div>
</div>
</body>
</html>