/* Custom css for tree view */
.device-type-action-add {
    display: none;
    position: absolute;
    right: 1px;
    top: 4px;
}
.fancytree-title {
    width: 80%;
    text-overflow: ellipsis;
}
/* /Custom css for tree view */

.tableCss .th{
    background-color:lightgrey;
}

.tableCss .th {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.tableCss .th:last-child {
    border-right: solid 1px grey;
}

.tableCss .row:last-child .th {
    border-bottom: solid 1px grey;
}

/*.buttonSearch{*/
    /*padding-top:10px;*/
/*}*/
/*.header{*/
    /*width: 100%;*/
/*}*/
/*.divSearchButton{*/
    /*margin-top:-8px;*/
/*}*/
/*.caretSearch{*/
    /*text-align:left;*/
/*}*/
/*.searchBar{*/
    /*width: 110%;*/
    /*height: 38px;*/
    /*padding: 10px 10px 5px 23px;*/
    /*font-size: 15px;*/
    /*border-top:1px solid #dddddd;*/
    /*border-left:1px solid #dddddd;*/
    /*border-bottom:1px solid #dddddd;*/
    /*border-radius:3px;*/
/*}*/
/*.divSearchButton{*/
    /*padding-top:7px;*/
    /*text-align:left;*/
    /*padding-left:3px;*/
/*}*/
/*.spanSearch{*/
    /*margin-top:10px;*/
    /*padding-right:5px;*/
/*}*/
/*.searchForm{*/
    /*text-align:right;*/
/*}*/
/*.ulSearch{*/
    /*width: 92%;*/
    /*margin-left:20px;*/
/*}*/
/*.buttonSearchInUl{*/
    /*text-align:right;*/
/*}*/
/*.buttonSearchInUl button{*/
    /*margin-right:25px;*/
/*}*/
/*.labelInputSearch{*/
    /*padding-top:13px;*/
    /*font-weight:bold;*/
/*}*/
/*.inputDiv{*/
    /*padding-bottom: 20px;*/
/*}*/
/*.radio{*/
    /*padding-top:20px;*/
/*}*/
/*.radio label{*/
   /*font-weight:bold;*/
   /*margin-left:-10px;*/
/*}*/
/*.logoutForm{*/
    /*padding-top:5px;*/
    /*padding-bottom:5px;*/
/*}*/
/*.logoutForm i{*/
    /*padding-left:17px;*/
/*}*/
/*.logoutForm input{*/
    /*border:none;*/
    /*background-color:#ffffff;*/
    /*padding-left:10px;*/
/*}*/
/*.logoutForm:hover{*/
    /*background-color:#f5f5f5;*/
/*}*/
/*.logoutForm:hover .inputLogOut{*/
    /*background-color:#f5f5f5;*/
/*}*/
/*.numberOfcolum{*/
    /*padding-top:10px;*/
    /*padding-left:30px;*/
    /*text-align:left;*/
/*}*/

/*.buttonReset{*/
    /*padding-top:5px;*/
    /*padding-bottom:5px;*/
/*}*/


/*.navbar-header{*/
    /*text-align:center;*/
    /*padding-top:10px;*/
    /*padding-left:25px;*/
/*}*/
/*.panelSearch{*/
    /*background-color:none;*/
    /*border:none;*/
/*}*/
/*.page-content{*/
    /*margin-top:50px;*/
/*}*/
/*.page-header{*/
    /*margin-bottom:30px;*/
/*}*/
/*.sidebar-content{*/
    /*height:430px;*/
    /*overflow: auto;*/
 /*}*/
/*.category-content{*/
    /*padding-left:20px;*/
/*}*/
/*.category-title h6{*/
    /*border-bottom: 1px solid #dddddd;*/
/*}*/
/*.page-header h4{*/
    /*margin-left:10px;*/
/*}*/
/*.rightContent{*/
    /*width:77%;*/
/*}*/
/*.panel-title{*/
/*}*/
/*.search-box{*/
    /*padding-left:65px;*/
    /*padding-top:15px;*/
/*}*/

.page-container {
    margin-top:20px;
}
.a-no-color {
    color: #333 !important;
}
.object-row-template {
    display: none;
}
.device-type-sidebar, .provisioning-sidebar, .tag-sidebar{
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 500px;
    overflow: auto;
    background-color: #fff;
}

.groupTree-content{
    padding-left: 20px;
    padding-top:20px;
    position: relative;
}
.group-tree-body{
    position: relative;
    padding-left: 20px;
    padding-bottom:20px;
    padding-right:20px;
}


/* Begin Advance search in list devices page*/
.heading-elements-advance-search .input-text-search {
    display: block;
    width: 100%;
    padding: 7px 12px;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.heading-elements-advance-search .dropdown-icon {
    position: absolute;
    right: 5px;
    z-index: 3;
    top: 14px;
    cursor: pointer;
}
.heading-elements-advance-search .dropdown-menu {
    top: 42px;
    width: 100% !important;
    padding: 10px;
}

.heading-elements-advance-search .has-feedback-left .dropdown-menu .form-control {
    padding-left: 0px;
}

@media (min-width: 768px){
    .heading-elements-advance-search {
        left: 300px;
    }
}

/*End Advance search in list devices page*/

/*BEGIN Re-style for modal*/
.modal-header  {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.modal-header .close {
    top: 35%;
}
.modal-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.ui-autocomplete {
    z-index:2147483647 !important;
}
/*END Re-style for modal*/

/*BEGIN re style tree*/
.fancytree-title {
    overflow: hidden;
    text-overflow: ellipsis;
}
/*END re style tree*/

.icon-remove-sidebar {
    position: absolute;
    left: -5px;
    top: 5px;
    display: none;
}
.sidebar-category li:hover .icon-remove-sidebar {
    display: inline-block;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: white;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: white;
  margin-bottom: 2px;
}

.border-ddd {
    border-color: #ddd;
}