<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="add_subscriber" class="modal" id="add-subscriber-modal">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <form class="form-horizontal" action="/subscriber/0/save" id="add-subscriber-form" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-uppercase" th:text="#{subscriber.title.createNewSubscriber}">Modal title</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Subscriber Id <span class="text-danger">*</span> </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control subscriber-id" name="subscriberId" placeholder="Write a subscriber id..."
                                   maxlength="20" required="required" notExisted="notExisted"
                                   th:check-api="${'/subscriber/0/existed?subscriberId='}">
                            <span class="error-special-character text-danger">Name has special character.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Data template <span class="text-danger">*</span> </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <select id="data-template-input" class="form-control select2">
                                    <option value=""></option>
                                </select>
                                <span class="input-group-btn">
                                    <a class="btn btn-primary btn-icon btn-rounded legitRipple" id="data-template-input-btn"> <i class="icon-plus3"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="table-scrollable">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th> Data Template</th>
                                        <th> Parameter Name</th>
                                        <th> Parameter Value</th>
                                        <th align="center" width="36px"> Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list-data-template">
                                    <tr class="list-data-template-no-data">
                                        <td colspan="10" align="center">No data.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Associated Device <span class="text-danger">*</span> </label>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="device-input" placeholder="Write a serial number...">
                                <span class="input-group-btn">
                                    <a class="btn btn-primary btn-icon btn-rounded legitRipple" id="device-input-btn"> <i class="icon-plus3"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div class="table-scrollable">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th> Manufacturer</th>
                                        <th> OUI</th>
                                        <th> Product class</th>
                                        <th> Model name</th>
                                        <th> Serial number</th>
                                        <th width="36px"> Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list-devices">
                                    <tr>
                                        <td colspan="10" align="center" class="list-devices-no-data"> No data.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="add-subscriber-btn-save" th:text="#{button.save}">Save <i class="icon-arrow-right14 position-right"></i></button>
                    <a class="btn btn-default" th:text="#{button.cancel}" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>