<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="confirm_delete_data_template_modal" class="modal" id="confirm-delete-data-template-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-uppercase">Do you want to delete: </h5>
            </div>
            <div class="modal-body">
                <button class="btn btn-warning confirm-delete-btn"> <span th:text="#{button.delete}"></span></button>
                <button class="btn btn-default" data-dismiss="modal"> <span th:text="#{button.cancel}"></span></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>