<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="edit_alarm_setting_dialog" id="edit-alarm-setting-dialog" th:title="#{alarm.setting.edit}">
    <form id ="form_edit_alarm" action="#" class="form-horizontal" novalidate="novalidate" th:action="@{/alarm-setting/edit}"  method="POST">
        <div class="alert alert-danger no-border" hidden="true" id="edit-time-valid">
            <input id="edit_alert_valid_input" th:class="#{alarm.setting.valid}" type="hidden">
            <input id="editTime" name="editTime" type="hidden">
            <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
            <span class="text-semibold" ></span>
        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.type}"></label>
                <div class="col-sm-8">
                    <select class="select2 form-control"
                            name="alarmType" id="editAlarmType" required="required"
                            th:data-placeholder="#{alarm.setting.type.choose}">
                        <option value="" ></option>
                        <option value="REQUEST_FAIL" >REQUEST_FAIL</option>
                        <option value="CONFIGURATION_FAIL" >CONFIGURATION_FAIL</option>
                        <option value="UPDATE_FIRMWARE_FAIL">UPDATE_FIRMWARE_FAIL</option>
                        <option value="REBOOT_FAIL">REBOOT_FAIL</option>
                        <option value="FACTORY_RESET_FAIL">FACTORY_RESET_FAIL</option>
                        <option value="PARAMETER_VALUE">PARAMETER_VALUE</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-sm-2 control-label" th:text="#{alarm.setting.severity}"></label>
                <div class="col-sm-4">
                    <select class="select2 form-control"
                            name="alarmSeverity" id="editAlarmSeverity" required="required"
                            th:data-placeholder="#{alarm.setting.severity.choose}">
                        <option value="" ></option>
                        <option value="Info" >Info</option>
                        <option value="Warning">Warning</option>
                        <option value="Major">Major</option>
                        <option value="Minor">Minor</option>
                        <option value="Critical">Critical</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <label class="col-sm-3 control-label" th:text="#{alarm.setting.monitor}"></label>
                    <div class="col-sm-2" style="padding-top: 8px;">
                        <input type="checkbox" name="alarmMonitor" id="editAlarmMonitor"class="control-danger">
                    </div>
                    <label class="col-sm-3 control-label" th:text="#{alarm.setting.notify}"></label>
                    <div class="col-sm-2" style="padding-top: 8px;">
                        <input type="checkbox" name="alarmNotify" id="editAlarmNotify" class="control-danger">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.name}"></label>
                <div class="col-sm-8">
                    <input class="form-control" id="editAlarmName" minlength="5" maxlength="50" name="alarmName" type="text" required="required">
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.aggregated_volume}"></label>
                <div class="col-sm-8">
                    <input class="form-control" id="editAggregatedVolume" name="aggregatedVolume" type="number" step="5">
                </div>
            </div>


        </div>

        <div class="row">


            <div class="form-group col-md-6">
                <input type="hidden" name="listGroupFilter" id="listEditGroupFilter"/>
                <input type="hidden" name="alarmId" id="alarmId"/>
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.group}"></label>
                <div class="col-sm-8">
                    <select multiple class="select2 form-control"
                            id="editGroupFilter" th:data-placeholder="#{alarm.setting.group.choose}" required="required">
                        <option value="" ></option>
                        <option th:each="_deviceGroup:${deviceGroups}" th:value="${_deviceGroup.id}" th:text="${_deviceGroup.name}"></option>
                    </select>
                </div>
            </div>



            <div class="form-group col-md-6">
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.notify_aggregated}"></label>
                <div class="col-sm-8">
                    <select class="select2 form-control"
                            name="notifyAggregated" id="editNotifyAggregated" required="required"
                            th:data-placeholder="#{alarm.setting.notify_aggregated.choose}">
                        <option value="" ></option>
                        <option value="OFF" >OFF</option>
                        <option value="SMS" >SMS</option>
                        <option value="EMAIL" >EMAIL</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="row" id="edit_select_parameter">

            <div class="form-group col-md-8">
                <label class="col-sm-3 control-label" th:text="#{alarm.setting.select_parameter}"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control edit-parameter-input" maxlength="255" placeholder="Write parameter...">
                </div>
            </div>

            <div class="form-group col-md-4">
                <label class="col-sm-4 control-label" th:text="#{alarm.setting.value_range}"></label>
                <div class="col-sm-8">
                    <input class="form-control" id="editValueRange" type="text">
                </div>
            </div>

            <span class="input-group-btn">
                        <a class="btn btn-xs btn-raised legitRipple btn-icon btn-rounded btn-primary edit-parameter-btn"><i class="icon-plus3"></i></a>
                        </span>

        </div>

        <div class="form-group" id="edit_select_parameter_table">
            <div class="col-md-12">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                            <th width="45px">Remove</th>
                        </tr>
                        </thead>
                        <tbody class="edit-list-parameters"></tbody>
                        <tbody class="edit-list-parameters-template" style="display: none;">
                        <tr data-parameterPath="{path}">
                            <td>{path}</td>
                            <td>{inputParameter}</td>
                            <td nowrap align="center">
                                <ul class="icons-list">
                                    <li><a data-parameterPath="{path}" class="remove-edit-parameter-btn" href="javascript:void(0)"><i class="icon-trash"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                        <tr class="edit-list-parameters-no-data">
                            <td colspan="10" align="center">No data.</td>
                        </tr>
                    </table>
                </div>
            </div>
            <input class="form-control" type="text" name="tableParameter" id="editTableParameter" required="required" style="display:none"/>
        </div>

        <div class="row col-md-12 col-md-offset-1 radio" id="edit_notification">
            <label class="col-md-4">
                <input type="radio" id="edit-passive" name="editNotification" class="control-success" th:value="3" checked>
                Passive
            </label>

            <label class="col-md-4">
                <input type="radio" id="edit-changes" name="editNotification" class="control-danger" th:value="2">
                Changes
            </label>

            <label class="col-md-4">
                <input type="radio" id="edit-real-time" name="editNotification" class="control-danger" th:value="1">
                Real-time
            </label>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary legitRipple" th:text="#{button.save}"><i class="icon-arrow-right14 position-right"></i></button>
            <a id="edit-alarm-dialog-close" class="btn btn-warning text-center" th:text="#{button.cancel}" >Cancel</a>
        </div>
    </form>

    <div th:replace="alarm/modal/alarmEditSettingTime::edit_alarm_setting_time_dialog"></div>

</div>
</body>
</html>