<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="confirmResetPassword" class="modal modalConfirmResetPassword">
    <div class="modal-dialog modal-md">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-primary text-left text-uppercase">RESET PASSWORD</h5>
            </div>
            <div class="modal-body">
                <p class="labelResetPassword"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary submitBtn"> Continue</button>
                <button class="btn btn-default" data-dismiss="modal"> <span th:text="#{button.cancel}"></span></button>
            </div>
        </div>
    </div>
</div>

</body>
</html>