<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="confirmRemove" class="modal modalConfirmRemove">
    <div class="modal-dialog modal-md">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-primary text-left text-uppercase">REMOVE USER</h5>
            </div>
            <div class="modal-body">
                <input type="text" name="id" style="display: none">
                <p class="labelResetPassword"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary submitBtn"> YES</button>
                <button class="btn btn-default" data-dismiss="modal"> NO</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>