<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> </head>
<body>
<div th:fragment="formUserModal" class="modal modalFormUser">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <form class="form-horizontal formUser" action="/user/store" enctype="multipart/form-data" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-uppercase titleCreate" style="display: none;">CREATE USER</h5>
                    <h5 class="modal-title text-uppercase titleEdit" style="display: none;">EDIT USER</h5>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label text-right">Avatar: </label>
                                <input type="file" name="fileAvatar" class="fileAvatar" data-show-caption="false" data-show-upload="false">
                                <span class="text-danger messageFileAvatarError" style="display: none">The uploaded file exceeds the max size 2MB.</span>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Username: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control inputUsername" name="user_name" placeholder="Write a username..."
                                           minlength="5" maxlength="20" required="true" notExisted="notExisted"
                                           th:check-api="${'/user/0/get-existed-username?username='}">
                                    <span class="text-danger messageInputUsernameError" style="display: none">Username has special character.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Full name: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="full_name" placeholder="Write a full name..."
                                           minlength="5" maxlength="50" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Email: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="email" placeholder="Write a email..."
                                           minlength="5" maxlength="50" required="true" notExisted="notExisted"
                                           th:check-api="${'/user/0/get-existed-email?email='}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Telephone: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="phone" placeholder="Write a telephone..."
                                           maxlength="16" required="true">
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-md-3 control-label text-right">Password: <span class="text-danger">*</span> </label>-->
                                <!--<div class="col-md-9">-->
                                    <!--<input type="password" class="form-control inputPassword" name="password" placeholder="Write a password..."-->
                                           <!--minlength="5" maxlength="20" required="true">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-md-3 control-label text-right">Repeat password: <span class="text-danger">*</span> </label>-->
                                <!--<div class="col-md-9">-->
                                    <!--<input type="password" class="form-control inputRepeatPassword" name="repeat_password" placeholder="Write a repeat password..."-->
                                           <!--minlength="5" maxlength="20" required="true">-->
                                    <!--<span class="text-danger messageInputPasswordError" style="display: none">The password do not match.</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Group Filter: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <select class="form-control select2 selectGroupFilter" name="select_group_filter" required="true" multiple="true">
                                        <option value=""></option>
                                        <option th:each="deviceGroupItem:${deviceGroups}" th:value="${deviceGroupItem.id}" th:text="${deviceGroupItem.name}"></option>
                                    </select>
                                    <input type="hidden" class="inputGroupDevice" name="group_device">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Role: <span class="text-danger">*</span> </label>
                                <div class="col-md-9">
                                    <select class="form-control select2 selectRole" name="select_role" required="true" multiple="false">
                                        <option value=""></option>
                                        <option th:each="roleItem:${roles}" th:value="${roleItem.id}" th:text="${roleItem.name}"></option>
                                    </select>
                                    <input type="hidden" class="inputRole" name="role">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label text-right">Description: </label>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="description" maxlength="1500"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary userSaveBtn" th:text="#{button.save}">Save <i class="icon-arrow-right14 position-right"></i></button>
                    <a class="btn btn-default userCancelBtn" th:text="#{button.cancel}" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>