<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="edit_alarm_setting_time_dialog" id="edit-alarm-setting-time-dialog" title="Please choose default time of UMP System:">
    <form class="form-horizontal form-validate-jquery" novalidate="novalidate">

        <div class="form-group">
            <label class="col-md-4 control-label text-right">Timer (mins): <span class="text-danger">*</span> </label>
            <div class="col-md-8">

                <div class="input-group">
                    <input type="number" min="0" class="form-control editTimeSetting" name="timeSetting" required="true">
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-primary btnSave" th:text="#{button.save}">Save <i class="icon-arrow-right14 position-right"></i></a>
            <a class="btn btn-default btnCancel" th:text="#{button.cancel}" data-dismiss="modal">Cancel</a>
        </div>
    </form>

</div>
</body>
</html>