<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!-- overview tab -->
<div ng-class="{'active': tabActive == 'overview-tab' || tabActive == ''}" th:fragment="overview_tab" class="tab-pane" id="overview-tab">

    <h5> Import Data Model</h5>

    <div>
        <span style="padding-right: 10px" th:if="${currentDeviceTypeVersion.dataModelFileName != null && currentDeviceTypeVersion.dataModelFileName != ''}">
            <i class="icon-file-empty2 position-left"></i>
            <span class="text-primary" th:text="${currentDeviceTypeVersion.dataModelFileName}"> File name</span>
        </span>
        <button type="button" class="btn btn-primary btn-icon btn-xs" id="upload-data-model-dialog-opener">
            <span th:if="${currentDeviceTypeVersion.dataModelFileName != null && currentDeviceTypeVersion.dataModelFileName != ''}"> Re-Import</span>
            <span th:if="${currentDeviceTypeVersion.dataModelFileName == null || currentDeviceTypeVersion.dataModelFileName == ''}"> Import</span>
            <i class="icon-file-upload2 position-right"></i>
        </button>
    </div>
    <hr>
    <div class="table-responsive">
        <table th:if="${currentDeviceTypeVersion.parameters != null}" class="table">
            <thead>
            <tr>
                <th>Path</th>
                <th>Type</th>
                <th>Range value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="path:${currentDeviceTypeVersion.parameters.keySet()}">
                <td th:text="${path}"></td>
                <td th:text="${currentDeviceTypeVersion.parameters.get(path).dataType}"></td>
                <td th:text="${currentDeviceTypeVersion.parameters.get(path).rule}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /overview tab -->

</body>
</html>