<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-class="{'active': tabActive == 'tags-tab'}" th:fragment="tags_tab" class="tab-pane" id="tags-tab" ng-init="loadListTag()">
    <button class="btn btn-primary legitRipple" id="create-tag-dialog-opener" th:attr="data-params=${params}" th:attrappend="data-object-params=${objectParams}">New tag
        <i class="icon-plus3 position-right"></i>
    </button>

    <div ng-show="length_tagList == 0" class="alert alert-info no-border" style="margin-top: 20px">
        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span>
        </button>
        <span class="text-semibold">No tag yet</span>
    </div>

    <div ng-show="length_tagList > 0">
        <hr>
        <!--List tags-->
        <div class="col-md-4">

            <div class="table-responsive" id="list_tags_table">
                <table class="table table-bordered table-framed table-hover table-pointer">
                    <thead>
                    <tr>
                        <th>List tags</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tag in listTagNoneAssign">
                        <td style="display: none">
                            <input type="text" name="tag_id" class="tag_id" ng-value="tag.id">
                        </td>
                        <td ng-class="{'text-danger': tag.mess == 'marked'}"> {{tag.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/List tags-->

        <!--List removed-->
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-framed table-hover">
                    <thead>
                    <tr>
                        <th>Removed Objects/Parameters</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="removePram in listRemovedParam">
                        <td> {{removePram}}</td>
                    </tr>
                    <tr ng-show="length_removeList == 0">
                        <td align="center">No data result.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/List removed-->

        <!--List added-->
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-bordered table-framed table-hover">
                    <thead>
                    <tr>
                        <th>Added Objects/Parameters</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="newParam in listNewParameters">
                        <td> {{newParam}}</td>
                    </tr>
                    <tr ng-show="length_addList == 0">
                        <td align="center">No data result.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/List added-->
    </div>

    <!-- begin create tag dialog -->
    <div th:replace="data_models/dialog/create_tag_dialog::create_tag_dialog"></div>
    <!-- end create tag dialog -->

    <!-- begin create tag dialog -->
    <div th:replace="data_models/dialog/edit_tag_dialog::edit_tag_dialog"></div>
    <!-- end create tag dialog -->

</div>
<!-- /tags -tab -->

</body>
</html>