<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Profile</title>

    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>

    <!-- App js files -->
    <script type="text/javascript" src="/ump/parameter_advanced_view.js"></script>

</head>
<body>
<div class="page-container" layout:fragment="content">

    <div class="page-content">

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    <span id="dataResponse" style="display: none"
                          th:attr="data-list-path=${listPath}"
                          th:attrappend="data-param-object=${paramObject}, data-object=${object}, data-tagId=${tagId}, data-deviceTypeVersionId=${deviceTypeVersionId}"></span>

                    <div th:if="${noParam}">
                        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                    </div>

                    <div th:if="!${noParam}" class="row">

                        <div class="col-md-12">
                            <div class="row" style="line-height: 38px">
                                <div class="col-md-3">
                                    Manufacturer: <span th:text="${deviceType.manufacturer}"></span>
                                </div>
                                <div class="col-md-3">
                                    Model Name: <span th:text="${deviceType.name}"></span>
                                </div>
                                <div class="col-md-3">
                                    Firmware/Software Version: <span th:text="${deviceTypeVersion.firmwareVersion}"></span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <a class="btn btn-default" th:href="@{'/data-models/'+${deviceTypeVersionId}+'/profile'}" th:text="#{profile.btn.profileView}"></a>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="tree-checkbox-advanced-view well"></div>
                        </div>

                        <div class="col-md-8">

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control search-parameter-advanced-view" placeholder="Search something...">
                                </div>
                                <div class="col-md-6" style="overflow: hidden; text-overflow: ellipsis" th:alt-title="${object}">
                                    <span id="current-object-str" style="line-height: 38px; text-overflow: ellipsis"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>

                            <form th:action="@{'/data-models/' + ${deviceTypeVersionId} + '/parameter-advanced-view/update'}" method="POST" id="parameter-advanced-view-form">
                                <input type="hidden" name="currentUrl">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-framed table-hover table-pointer">
                                        <thead>
                                        <tr>
                                            <th>Parameter name</th>
                                            <th>Parameter default value</th>
                                            <th width="48px">Read/Write</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list-parameters-advanced-view">
                                        </tbody>
                                    </table>

                                    <br>
                                    <button type="submit" class="btn btn-primary" id="save-parameter-btn" th:text="#{button.save}">SAVE</button>
                                    <a class="btn btn-default" onClick="window.location.reload()" th:text="#{button.cancel}">CANCEL</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>