<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Profile</title>

    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>

    <!-- App js files -->
    <script type="text/javascript" src="/ump/tag.js"></script>

    <style>
        .fancytree-icon {
            display: none;
        }
        .fancytree-checkbox {
            margin: 4px 0 0 2px
        }
    </style>

</head>
<body>
<div class="page-container" layout:fragment="content">

    <div class="page-content">

        <div th:replace="data_models/dialog/create_tag_modal::create_tag_modal"></div>
        <div th:replace="data_models/dialog/add_parameter_modal::add_parameter_modal"></div>
        <div th:replace="data_models/dialog/move_parameter_modal::move_parameter_modal"></div>
        <div th:replace="data_models/dialog/move_parameter_object_modal::move_parameter_object_modal"></div>

        <div class="sidebar sidebar-main sidebar-default">
            <div class="tag-sidebar">
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content">
                        <h5 class="text-uppercase" style="position: relative">
                            <span th:text="#{profile.title.profilesList}">Profiles list</span>
                            <i id="create-tag-modal-opener" class="icon-plus3" style="position: absolute; right: 0px; top: 5px; cursor: pointer"></i>
                        </h5>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr th:each="tagItem:${tags}" th:classappend="${tagId == tagItem.id ? 'info' : ''}">
                                    <td nowrap style="padding-left: 0">
                                        <span class="btn-group">
                                            <i class="icon-cog6 position-left dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer"></i>
                                            <ul class="dropdown-menu dropdown-menu-left dropdown-menu-subscriber-tree">
                                                <li title="Delete" class="remove-profile-opener"
                                                    th:data-tagId="${tagItem.id}" th:data-name="${tagItem.name}"> <a><i class="icon-trash"></i> Delete</a></li>
                                                <li title="Automatically Synchronize" class="synchronize-profile-opener"
                                                    th:if="${tagItem.synchronize == 0}"
                                                    th:data-tagId="${tagItem.id}" th:data-name="${tagItem.name}"> <a><i class="icon-spinner4"></i> Automatically Synchronize</a></li>
                                                <li title="Unsynchronize" class="unsynchronize-profile-opener"
                                                    th:if="${tagItem.synchronize == 1}"
                                                    th:data-tagId="${tagItem.id}" th:data-name="${tagItem.name}"> <a><i class="icon-spinner4"></i> Unsynchronize</a></li>
                                            </ul>
                                        </span>
                                        <a th:href="@{'/data-models/' + ${deviceTypeVersionId} + '/profile/' + ${tagItem.id}}" th:title="${tagItem.name}" th:text="${tagItem.name}" class="a-no-color"> </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    <span id="dataResponse" style="display: none"
                          th:attr="data-list-path=${listPath}"
                          th:attrappend="data-param-object=${paramObject}, data-object=${object}, data-tagId=${tagId}, data-deviceTypeVersionId=${deviceTypeVersionId}"></span>

                    <div th:if="${noParam}">
                        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                        <button th:if="${!noTag}" class="btn btn-primary btn-sm add-parameter-btn-opener" th:text="#{profile.btn.addParameter}">Add parameter <i class="icon-plus3 position-right"></i> </button>
                    </div>

                    <div th:if="!${noParam}" class="row">

                        <div class="col-md-12">
                            <div class="row" style="line-height: 38px">
                                <div class="col-md-3">
                                    Manufacturer: <span th:text="${deviceType.manufacturer}"></span>
                                </div>
                                <div class="col-md-3">
                                    Model Name: <span th:text="${deviceType.name}"></span>
                                </div>
                                <div class="col-md-3">
                                    Firmware/Software Version: <span th:text="${deviceTypeVersion.firmwareVersion}"></span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <a class="btn btn-default" th:href="@{'/data-models/'+${deviceTypeVersionId}+'/parameter-advanced-view'}" th:text="#{profile.btn.advancedView}"></a>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="tree-checkbox well"></div>
                            <br>
                            <button class="btn btn-primary btn-sm add-parameter-btn-opener" th:text="#{profile.btn.addParameter}">Add parameter</button>
                            <button class="btn btn-primary btn-sm" id="move-parameter-object-btn" th:text="#{profile.btn.moveObject}">Move Object</button>
                            <br>
                        </div>

                        <div class="col-md-8 group-parameter">

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control search-parameter" placeholder="Search something...">
                                </div>
                                <div class="col-md-6" style="overflow: hidden; text-overflow: ellipsis" th:alt-title="${object}">
                                    <span id="current-object-str" style="line-height: 38px; text-overflow: ellipsis"></span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>

                            <form th:action="@{'/data-models/' + ${deviceTypeVersionId} + '/profile/' + ${tagId} + '/update'}" method="POST" id="parameter-form">
                                <input type="hidden" name="currentUrl">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-framed table-hover table-pointer">
                                        <thead>
                                        <tr>
                                            <th width="48px"><input type="checkbox" id="checkbox-all"></th>
                                            <th>Parameter name</th>
                                            <th>Parameter default value</th>
                                            <th width="48px">Read/Write</th>
                                        </tr>
                                        </thead>
                                        <tbody id="list-parameters">
                                        </tbody>
                                    </table>

                                    <br>
                                    <a class="btn btn-primary" id="move-parameter-btn" th:text="#{profile.btn.moveParameter}">MOVE PARAMETER</a>
                                    <a class="btn btn-danger" id="delete-parameter-btn" th:text="#{profile.btn.deleteParameter}" th:disabled="${isOthersTag}">DELETE PARAMETER</a>
                                    <button type="submit" class="btn btn-primary" id="save-parameter-btn" th:text="#{button.save}">SAVE</button>
                                    <a class="btn btn-default" onClick="window.location.reload()" th:text="#{button.cancel}">CANCEL</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>