<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Subscriber</title>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>

    <script type="text/javascript" src="/ump/subscriber.js"></script>

</head>
<body>
<div layout:fragment="content" class="page-container" id="subscriber-page">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="/subscriber" th:text="#{subscriber.btn.subscriber}"></a>
                                <a class="btn btn-default" href="/subscriber/data-template" th:text="#{subscriber.btn.dataTemplate}"></a>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default" id="add-subscriber-opener"> <i class="icon-plus3"></i> <span th:text="#{subscriber.btn.newSubscriber}"></span></button>
                            <button class="btn btn-danger" id="remove-subscriber-opener"> <i class="icon-trash"></i> <span th:text="#{button.delete}"></span></button>
                        </div>
                    </div>
                    <hr>

                     <!--Start main content-->
                    <div th:if="${subscriberPaginator.numberOfElements > 0}" class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th align="center" width="36px"><input type="checkbox" id="checkbox-all"></th>
                                <th>Subscriber Id</th>
                                <th>Used Data Template</th>
                                <th>Associated Device</th>
                                <th align="center" width="36px">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="subscriber:${subscriberPaginator.content}">
                                <td align="center"><input type="checkbox" class="checkbox-row" th:attr="data-subscriberId=${subscriber.id}"></td>
                                <td th:text="${subscriber.subscriberId}"></td>
                                <td>
                                    <select multiple="multiple" class="select2 subscriber-template-select2" th:attrappend="data-subscriberDataTemplateIds=${subscriber.subscriberDataTemplateIds}, data-id=${subscriber.id}">
                                        <option th:each="subscriberTemplate:${subscriberTemplates}" th:value="${subscriberTemplate.id}" th:text="${subscriberTemplate.name}"></option>
                                    </select>
                                </td>
                                <td>
                                    <select multiple="multiple" class="select2 subscriber-device-select2" th:attr="data-subscriberId=${subscriber.subscriberId}">
                                        <option th:each="subscriberDevice:${subscriberDeviceMap.get(subscriber.subscriberId)}" th:value="${subscriberDevice.id}" th:text="${subscriberDevice.oui+'-'+subscriberDevice.productClass+'-'+subscriberDevice.serialNumber}" selected></option>
                                    </select>
                                </td>
                                <td align="center">
                                    <ul class="icons-list">
                                        <li><a href="javascript:void(0)" class="subscriber-edit-opener" th:attr="data-subscriberId=${subscriber.id}"><i class="icon-pencil7"></i></a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${subscriberPaginator.numberOfElements == 0}">
                        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                    </div>
                    <!--// End main content-->

                    <!--Start paging-->
                    <br>
                    <span th:if="${subscriberPaginator.numberOfElements > 0}">
                        <span id="data-subscriber-paginator"
                              th:attrappend="data-number=${subscriberPaginator.number}, data-totalPages=${subscriberPaginator.totalPages}"
                              style="display: none"></span>
                        <ul class="pagination-flat pagination-sm twbs-prev-next"></ul>
                    </span>
                    <div style="position: relative; top: -11px; display: inline-block">
                        <input type="number" placeholder="Page..." class="form-control go-page-input" min="1"  style="display: inline-block; width: 50px">
                        <button class="btn btn-default go-page-btn">Go</button>
                        <select class="form-control limit-page-input" style="display: inline-block; width: 50px">
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                        <span>items/page</span>3
                    </div>
                    <!--// End paging-->

                    <!--modal-->
                    <div th:replace="subscriber/modal/add_subscriber::add_subscriber"></div>
                    <div th:replace="subscriber/modal/confirm_delete_subscriber_modal::confirm_delete_subscriber_modal"></div>
                    <!-- /modal-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>