<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="add_device_dialog" id="add-device-dialog" th:attr="title=#{subscriber.title.addDevice}">

    <form class="form-horizontal" id="form-add-device" action="" th:action="@{'/subscriber/subscriber-devices/create'}" method="POST">
        <fieldset class="content-group">
            <hr>
            <div class="form-group">
                <label class="control-label col-lg-2"> Device Type: <span class="text-danger">*</span></label>
                <div class="col-lg-10">
                    <input type="text" name="deviceTypeId" id="deviceTypeId" required="required" style="display: none">
                    <div class="tree-default">
                        <ul>
                            <li th:each="keyL1:${tree.productClassesMap.keySet()}" class="expanded"> <span th:text="${keyL1}"></span>
                                <ul>
                                    <li th:each="deviceType : ${tree.productClassesMap.get(keyL1)}" th:href="${'/device-types/' + deviceType.id}">
                                        <a href="#" th:href="${deviceType.id}" th:text="${deviceType.name + ' - ' + deviceType.productClass}"> </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
                    <hr>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"> Serial Number: <span class="text-danger">*</span></label>
                <div class="col-lg-10">
                    <input type="text" name="subscriberIdPk" th:value="${currentSubscriber.id}" style="display: none">
                    <input type="text" name="subscriberId" th:value="${currentSubscriber.subscriberId}" style="display: none">
                    <input type="text" class="form-control" name="serialNumber" required="required">
                    <input type="hidden" class="form-control" name="isProvisioning" required="required" value="false">
                </div>
            </div>

        </fieldset>
        <div class="text-right">
            <button type="submit" class="btn btn-primary"> <span th:text="#{button.save}"></span> <i class="icon-arrow-right14 position-right"></i></button>
            <button type="button" class="btn btn-default modal-cancel"> <span th:text="#{button.cancel}"></span></button>
        </div>

    </form>
</div>

</body>
</html>