<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="confirm_provisioning_subscriber_device_dialog" id="confirm-provisioning-subscriber-device" th:attr="title=#{subscriberDevice.title.confirmProvisioning}">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-danger" id="btnProvisioningSubscriberDevice" > <span th:text="#{button.OK}"></span></button>
            <button class="btn btn-default" id="btnNotProvisioning"> <span th:text="#{button.NO}"></span></button>
        </div>
    </div>
</div>

</body>
</html>