<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="create_subsciber_template_dialog" id="create-subscriber-template-dialog" th:attr="title=#{subscriberTemplate.title.createDialog}">
    <form class="form-horizontal" id="form-create-subscriber-template" action="#" th:action="@{'/subscriber-template/create'}" method="POST">

        <fieldset class="content-group">
            <legend class="text-bold"> <span th:text="#{subscriberTemplate.title.createDialog}"></span></legend>

            <div class="form-group">
                <label class="control-label col-lg-2"> Name <span class="text-danger">*</span></label>
                <div class="col-lg-10">
                    <input type="text" name="name" class="form-control" placeholder="Write a name..." required="required">
                </div>
            </div>

        </fieldset>

        <div class="text-right">
            <button type="submit" class="btn btn-primary"> <span th:text="#{button.save}"></span> <i class="icon-arrow-right14 position-right"></i></button>
            <button type="button" class="btn btn-default modal-cancel"> <span th:text="#{button.cancel}"></span></button>
        </div>

    </form>
</div>

</body>
</html>