<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="import_subscibers_dialog" id="import-subscribers-dialog" th:attr="title=#{subscriber.title.importDialog}">

    <form class="form-horizontal" id="form-import-subscribers" action="" th:action="@{'/subscriber/upload'}" method="POST" enctype="multipart/form-data">
        <fieldset class="content-group">
            <hr>
            <div class="form-group">
                <label class="control-label col-lg-2"> Subscriber Template: <span class="text-danger">*</span></label>
                <div class="col-lg-10">
                    <select name="subscriberDataTemplateId" data-placeholder="- Select a template -" class="select2 form-control" required="required">
                        <option></option>
                        <option th:each="subTem:${listSubscriberTemplate}" th:value="${subTem.id}" th:text="${subTem.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"> File: <span class="text-danger">*</span></label>
                <div class="col-lg-10">
                    <input type="file" id="fileImportSubscriber" name="subscriberFile"
                           class="form-control file-styled"
                           required="required"
                           accept=".csv"
                           onchange="validateSubscriberFileUpload(this, '.csv')">
                    <div style="display: none" class="text-danger" id="file-subscriber-error-message" th:text="#{error.data.model.not.support.file.extension}"></div>
                </div>
            </div>

        </fieldset>
        <div class="text-right">
            <button type="submit" class="btn btn-primary"> <span th:text="#{button.import}"></span> <i class="icon-arrow-right14 position-right"></i></button>
            <button type="button" class="btn btn-default modal-cancel"> <span th:text="#{button.cancel}"></span></button>
        </div>

    </form>
</div>

</body>
</html>