<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_without_login}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Recover password</title>
    
    <script>
        $(function () {
            $('.btnContinue').click(function () {
                var token = ump.getUrlQueryValue('token');
                var inputToken = $('.changeForgotPassword').find('.inputCode').val();

                if(token === inputToken) {
                    location.replace('/changeForgotPasswordConfirm' + location.search);

                    $('.messageErrorCode').hide();

                } else {
                    $('.messageErrorCode').show();
                }
            })
        })
    </script>

</head>
<body>
<div layout:fragment="content" class="page-container">
    <div class="page-content">

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="col-md-12 changeForgotPassword">
                        <p>Please check the email containing the security code in message.</p>
                        <p>
                            <input type="text" class="form-control inputCode" style="width: 300px; display: inline-block">
                            <span>We sent the code to <strong class="text-primary" th:text="${user.email}"></strong></span>
                        </p>
                        <p class="text-danger messageErrorCode" style="display: none;"> Security code is incorrect! </p>
                        <!--TODO VANLUONG-->
                        <p><a href="/user/1/forgot-password">You don't have a code</a></p>
                        <p>
                            <a class="btn btn-primary btnContinue">Continue</a>
                            <a href="/user/1/change-password" class="btn btn-default btnCancel">Cancel</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>