<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Change password</title>

    <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/ump/change_password.js"></script>

</head>
<body>
<div layout:fragment="content" class="page-container" id="provisioning-page">
    <div class="page-content">
        <div class="content-wrapper">

            <div class="panel panel-flat">
                <div class="panel-body">
                    <form action="/user/change-password" method="POST" class="form-horizontal formChangePassword">
                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">Current Password: <span class="text-danger">*</span> </label>
                            <div class="col-md-9">
                                <input type="password" name="currentPassword" class="form-control"
                                       placeholder="Current password..." autocomplete="off"
                                       minlength="5" maxlength="63" required="true">
                                <input type="hidden" name="username" th:value="${session.username}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">New Password: <span class="text-danger">*</span> </label>
                            <div class="col-md-9">
                                <input type="password" name="newPassword" class="form-control inputPassword"
                                       placeholder="New password..." autocomplete="off"
                                       minlength="5" maxlength="63" required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label text-right">Repeat Password: <span class="text-danger">*</span> </label>
                            <div class="col-md-9">
                                <input type="password" name="repeatPassword" class="form-control inputRepeatPassword"
                                       placeholder="Repeat password..." autocomplete="off"
                                       minlength="5" maxlength="63" required="true">
                                <p class="text-danger messageInputPasswordError" style="display: none;">The password do not match.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <a href="/user/forgot-password" class="text-primary">Forgot Password</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-raised btn-primary submitBtn"> SAVE</button>
                                <a class="btn btn-raised btn-default" onclick="window.location.reload()"> CANCEL</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>