<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Forgot password</title>

</head>
<body>
<div layout:fragment="content" class="page-container" id="provisioning-page">
    <div class="page-content">
        <div class="content-wrapper">

            <div class="panel panel-flat">
                <div class="panel-body">
                    <form action="/user/forgot-password" method="POST" class="form-horizontal formChangePassword">
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>Would like you to recover <span th:text="${session.username}"></span>'s password & the security code will send it to: <strong th:text="${currentUser.email}"></strong></p>
                                <input type="hidden" name="username" th:value="${session.username}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-raised btn-primary submitBtn"> CONTINUE</button>
                                <a href="/" class="btn btn-raised btn-default"> CANCEL</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>