<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Response message</title>

</head>
<body>
<div layout:fragment="content" class="page-container" id="provisioning-page">
    <div class="page-content">

        <div th:replace="user/fragments/user_sidebar::userSidebar"></div>

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <p th:text="${message}"></p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>