<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="sidebar-content" th:fragment="area_tree_frag">
    <div class="category-title h6">
        <span th:text="#{Infor.Location}"></span>
    </div>
    <div class="category-content tree-default">

        <ul>
            <li class="expanded">
                <span>
                    <a th:text="${areaTree.mSource != null? areaTree.mSource.name: 'root' }"
                       th:href="${areaTree.mSource != null? '/?group='+areaTree.mSource.id: ''}"></a>
                </span>
                <ul th:fragment="subtree">
                    <li th:each="node : ${areaTree.mChildrens}">
                            <span>
                                <a th:text="${node.mSource.name}" th:href="${'/?group='+node.mSource.id}"> </a>
                            </span>
                        <ul th:with="areaTree = ${node}"
                            th:include="fragments/area_tree::subtree"/>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

</body>
</html>