<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">-->

    <!-- /theme JS files -->


</head>
<body>
<div th:fragment="device_paginator" class="panel panel-flat panel-body">
    <!-- copy from current index page to here -->

    <div id="confirm-reboot-dialog" title="Are you sure to Reboot?" style="display:none;">
        <div class="text-center">
            <button class="btn btn-primary text-center" role="button" id="confirm-reboot-now-dialog">
                Reboot
            </button>
            <button id="confirm-reboot-dialog-close" class="btn btn-warning text-center">Cancel</button>
        </div>
    </div>
    <div id="confirm-reset-dialog" title="Are you sure to Factory Reset?" style="display:none;">
        <div class="text-center">
            <button class="btn btn-primary text-center" role="button" id="confirm-reset-now-dialog">
                Reset
            </button>
            <button id="confirm-reset-dialog-close" class="btn btn-warning text-center">Cancel</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <select class="form-control disabled" name="team" id="team">
                <option value="1" selected><span th:text="#{Infor.NextContact}"></span></option>
                <option value="2"><span th:text="#{Infor.Now}"></span></option>
            </select>
        </div>

        <div class="col-md-4">
            <a id="confirm-reset-dialog-opener" class="btn btn-sm btn-primary"> Factory Reset</a>
            <a id="confirm-reboot-dialog-opener" class="btn btn-sm btn-primary"> Reboot</a>
        </div>
        <div class="col-md-6 text-right">
            <span style="position: relative; top: -7px;" th:text="${paginator.description}"></span>

            <ul class="pagination pagination-flat pagination-sm">

                <!-- button first -->
                <li th:class="${paginator.currentPage == 1} ? 'first disabled' : 'first' ">
                    <span th:if="${paginator.currentPage == 1}">⇤</span>
                    <a th:if="${paginator.currentPage != 1}" href="#"
                       class="page-link" name="_FistLink">⇤</a>
                </li>
                <!--button prev -->
                <li th:class="${paginator.currentPage == 1} ? 'prev disabled' : 'prev' ">
                    <span th:if="${paginator.currentPage == 1}">⇠</span>
                    <a th:if='${paginator.currentPage != 1}'
                       href="#" class="page-link" name="_PrevLink"
                    >⇠</a>
                </li>
                <!--current index -->
                <li class="page active">
                    <a href="#" th:text="${paginator.currentPage}" class="page-link" id="indexPage"></a>
                </li>
                <!--button next -->
                <li th:class="${paginator.currentPage} == ${paginator.lastPage}? 'next disabled' : 'next' ">
                    <span th:if="${paginator.currentPage} == ${paginator.lastPage}">⇢</span>
                    <a th:if='${paginator.currentPage} != ${paginator.lastPage}'
                       href="#" class="page-link" name="_NextLink"
                    >⇢</a>
                </li>
                <!--button last -->
                <li th:class="${paginator.currentPage} == ${paginator.lastPage} ? 'last disabled' : 'last' ">
                    <span th:if="${paginator.currentPage} == ${paginator.lastPage}">⇥</span>
                    <a th:if="${paginator.currentPage} != ${paginator.lastPage}"
                       href="#"
                       class="page-link" name="_LastLink">⇥</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- alert -->
    <div class="row">
        <div class="col-md-12">
            <div id="alerts" title="New Device Type">
                <div class="alert alert-success no-border" hidden="true" id="alert_success">
                    <button type="button" class="close"><span>×</span><span class="sr-only">Close</span>
                    </button>
                    <span class="text-semibold"></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger">
                    <button type="button" class="close"><span>×</span><span class="sr-only">Close</span>
                    </button>
                    <span class="text-semibold"></span>
                </div>
                <div class="alert alert-primary no-border" hidden="true" id="alert_primary">
                    <button type="button" class="close"><span>×</span><span class="sr-only">Close</span>
                    </button>
                    <span class="text-semibold"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="datatable-scroll">

                <table id="DataTables_Table_0"
                       class=" table datatable-sorting dataTable no-footer table-striped table-hover"
                       cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>

                        <th rowspan="1" tabindex="0"
                            colspan="1" aria-controls="DataTables_Table_0">
                            <center>
                                <input type="checkbox" id="checkAll" name="checkAll"/>
                            </center>
                        </th>

                        <th tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            th:id="${paginator.indexParams.get('_id')}">
                            <!--<a th:href="${'/?sort=+' + key}" th:text="${paginator.indexParams.get(key)}" onclick="sortRow();"></a>-->
                            <a href="#" th:text="${paginator.indexParams.get('_id')}" name="sortColumn"></a>
                        </th>

                        <th th:each="key : ${paginator.indexParams.keySet()}" th:if="${key != '_id'}"
                            tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            th:class="${key == paginator.sortField} ? ${paginator.sortType} : 'sorting sorting_disabled'"
                            th:id="${paginator.indexParams.get(key)}" name="sortColumn" th:with="columnName=${paginator.indexParams.get(key)}">
                            <span  th:id="${key}"  th:text="#{${columnName}}"> </span>
                        </th>
                        <th tabindex="0"
                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        >
                            <span th:text="#{Infor.Status}"></span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="device:${paginator.devices}" role="row" style="cursor: pointer;">

                        <td>
                            <center><input type="checkbox" class="myCheckBox" th:id="${device.id}"/></center>
                        </td>
                        <td th:text="${device.parameters.get('_id')}" name="cannotChange">
                        </td>

                        <td th:each="key : ${paginator.indexParams.keySet()}" th:if="${key != '_id'}"
                            th:text="${device.parameters.get(key)}" name="cannotChange"></td>
                        <td  name="cannotChange">
                            <span th:if="${device.isOnline()}" class="label bg-success-400">Online</span>
                            <span th:if="${!device.isOnline()}" class="label bg-danger" >Offline</span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a class="heading-elements-toggle"><i class="icon-more"></i></a>
    <p th:text="${paginator.devices.size()}" hidden="true" id="totalDeviceInPage">
    <p th:text="${paginator.lastPage}" hidden="true" id="lastPage">
    <p th:text="${paginator.sortField}" hidden="true" id="sortField">
    <p th:text="${paginator.sortType}" hidden="true" id="sortType">
    </p>

</div>
</body>
</html>
