<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="header" class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
            <a th:href="@{'/'}">
                <img src="/assets/images/logo_light2.png" alt="">
            </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/data-models">
                <span th:text="#{Menu.DataModels}"></span>
            </a>
        </li>
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/">
                <span th:text="#{Menu.Devices}"></span>
            </a>
        </li>
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/logging/device">
                <span th:text="#{Menu.Logging}"></span>
            </a>
        </li>
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/subscriber">
                <span th:text="#{Menu.Subscriber}"></span>
            </a>
        </li>
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/provisioning">
                <span th:text="#{Menu.Provisioning}"></span>
            </a>
        </li>
        <li class="dropdown language-switch">
            <a class="legitRipple" href="/file_management">
                <span th:text="#{Menu.FileManagement}"></span>
            </a>
        </li>
        <li class=""><a class="legitRipple" href="/policy">
            <span th:text="#{menu.policy}"></span>
        </a></li>
        <li class=""><a class="legitRipple" href="/user">
            <span th:text="#{menu.users}"></span>
        </a></li>
        <li class=""><a class="legitRipple" href="/alarm">
            <span th:text="#{menu.alarm}"></span>
        </a></li>
        <li class=""><a class="legitRipple" href="/performance-setting">
            <span th:text="#{menu.performance}"></span>
        </a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown language-switch">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img th:src="#{locale.current.flag}" class="position-left" alt="">
                <span th:text="#{locale.current.name}">English</span>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a class="vietnam" href="?lang=vi"><img src="/assets/images/flags/vn.png" alt=""><span th:text="#{locale.name.vi}">Vietnamese</span></a></li>
                <li><a class="english" href="?lang=en"><img src="/assets/images/flags/us.png" alt=""><span th:text="#{locale.name.en}">English</span></a></li>
            </ul>
        </li>

        <li class="dropdown dropdown-user">
            <a class="dropdown-toggle legitRipple" data-toggle="dropdown">
                <img src="/assets/images/placeholder.jpg" alt="">
                <span th:text="${session.username}">Username</span>
                <i class="caret"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <!--TODO VANLUONG-->
                <li><a th:href="@{'/user/change-password'}"><i class="icon-cog5"></i> Change Password</a></li>
                <li><a href="/logout"><i class="icon-switch2"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>