<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

    <div class="form-group col-md-12" th:fragment="search_fragment">
        <input type="hidden" id="searchManufac" th:attr="data-params-manufac=${manufacturers}">
        <input type="hidden" id="searchOui" th:attr="data-params-oui=${oui}">
        <input type="hidden" id="searchProductClass" th:attr="data-params-productClass=${productClass}">
        <input type="hidden" id="searchFirmwareVersion" th:attr="data-params-firmwareVersion=${firmwareVersion}">
        <form class="main-search row col-md-11" action="#" th:action="@{/search}" method="post" align="center">

            <div class="col-md-11">
                <input type="text" size="40" name="prefix" id="prefix" th:value="${prefix}" placeholder="Search" class="searchBar" style="">
            </div>

                <span class="caret col-md-1 spanSearch" data-toggle="dropdown"></span>
            <ul class="dropdown-menu removefromcart ulSearch">

                <div class="col-md-12 inputDiv">
                    <div class="col-md-12">
                        <div class="form-group col-md-12" th:each="entry : ${txtProps}"  style="height:20px;">
                            <label class="col-md-4 labelInputSearch" th:for="${entry.key}" th:text="${entry.key}">example</label>
                            <div class="col-md-8 inputSearch">
                                <input th:id="${entry.key}" class="form-control input-xlg" th:name="${entry.key}" type="text" value="" style="padding-left: 0px;">
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row col-md-11 col-md-offset-1 radio">
                        <label class="col-md-5">
                            <input type="radio" name="onlineState" class="control-success" th:value="Online">
                            Online
                        </label>

                        <label class="col-md-5">
                            <input type="radio" name="onlineState" class="control-danger" th:value="Offline">
                            Offline
                        </label>
                    </div>

                    <div class="buttonSearchInUl col-md-12">
                        <button type="submit" class="btn btn-primary legitRipple">
                            Search
                        </button>
                    </div>
                </li>
            </ul>
        </form>

        <div class="col-md-1 divSearchButton">
            <button type="button" class="btn btn-primary active legitRipple buttonSearch">
                <i class="icon-search4"></i>
                <span class="legitRipple-ripple"></span>
            </button>
        </div>
    </div>
</div>

</body>
</html>