<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UMP | Users Management</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>

    <!-- App js files -->
    <script type="text/javascript" src="/assets/js/core/app.js"></script>


    <style>

    </style>
</head>
<body>

<div layout:fragment="content" style="margin-top: 0px !important;">

    <div class="page-content">
        <div class="sidebar sidebar-main sidebar-default">
            <h4><i class="position-left"></i>
                <span class="text-semibold" th:text="#{users.title}"></span>
            </h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/user"><span th:text="#{users.list}"></span></a></li>
                <li><a href="/role"><span th:text="#{users.role}"></span></a></li>
                <li><a href="/permission"><span th:text="#{users.permission}"></span></a></li>
            </ul>

        </div>

        <div th:replace="users/fragments/users_fragment::users_fragment"></div>

    </div>
</div>

</body>
</html>