<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UMP | File Management</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>
    <script type="text/javascript" src="/assets/js/file/bootstrap-filestyle.min.js"></script>

    <!-- App js files -->
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/ump/device_type.js"></script>
    <script type="text/javascript" src="/ump/file_management.js"></script>

    <style>
        .lb-md {
          font-size: 16px;
          margin-top : 5px;
        }
        .glyphicon {
            font-size: 20px;
            margin-right: 10px;
        }
        .red {
            color: red;
        }
    .ui-dialog .ui-dialog-title{
         white-space: normal;
         word-wrap: break-word;
    }
    </style>
</head>
<body>

<div layout:fragment="content" style="margin-top: 0px !important;">
    <div id="confirm-delete-file-dialog" style="display:none;" title="Do you want to delete ? ">
        <div class="text-center">
            <button type="submit" class="btn btn-primary"
                    id="confirm-delete-file-yes-dialog">Yes
            </button>
            <button id="confirm-delete-file-no-dialog"
                    class="btn btn-warning">No
            </button>
        </div>
    </div>
    <div id="add-new-file-dialog" style="display:none;" title="Add New File">
        <form class="form-horizontal form-validate-jquery" id="add-new-file-dialog-form"
              method="POST" enctype="multipart/form-data">
            <div class="alert alert-danger no-border" hidden="true" id="add_alert_danger">
                <a href="#" class="close"><span>×</span></a>
                <span class="text-bold" ></span>
            </div>
            <input type="hidden" name="idEditFile" id="idEditFile">
            <div class="form-group">
                <label class="control-label col-sm-4" th:text="#{label.manufacturer}"></label>
                <div class="col-sm-8">
                    <select class="select2 form-control"
                            name="manufacturer" id="manufacture" required="required"
                            th:data-placeholder="#{select.search.placeholder}">
                        <option value=""></option>
                        <option th:each="subTem:${manufacturerlist}"
                                th:value="${subTem}"
                                th:text="${subTem}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Model Name</label>
                <div class="col-sm-8">
                    <select class="select2 form-control"
                            name="modelName" id="modelName" required="required"
                            th:data-placeholder="#{select.search.placeholder}">
                        <option value=""></option>
                        <option
                                th:each="subTem:${modelNamelist}"
                                th:value="${subTem}"
                                th:text="${subTem}"></option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">File Type</label>
                <div class="col-sm-8">
                    <select class="select2 form-control"
                            name="fileType" id="fileType" required="required"
                            th:data-placeholder="#{select.search.placeholder}">
                        <option value=""></option>
                        <option value="1 Firmware Upgrade Image">1 Firmware Upgrade Image</option>
                        <option value="3 Vendor Configuration File">3 Vendor Configuration File</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Version</label>
                <div class="col-sm-8">
                    <input name="version" class="form-control" id="version"
                           required="required" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Select File</label>
                <div class="col-lg-8">
                    <input type="file" id="inputFile" class="filestyle" name="firmwareFile"
                           required="required" data-placeholder="No file" data-buttonBefore="true">
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-primary" id="updateFileBtn" type="submit">Update</a>
                <button class="btn btn-primary" id="uploadFileBtn"
                   th:text="#{label.saveButton}"></button>
                <a href="javascript:void(0);" class="btn btn-default" id="btnCancel" th:text="#{button.cancel}"></a>
            </div>
        </form>

    </div>
    <div class="page-content">
        <div class="form-group">
            <input type="hidden" name="limit" th:value="${itemPerPage}">
        </div>
        <div id="alerts">
            <div class="alert alert-danger no-border" hidden="true" id="alert_danger">
                <a href="#" class="close" data-dismiss="alert"><span>×</span></a>
                <span class="text-bold" ></span>
            </div>
        </div>
        <div class="panel panel-flat panel-body">
            <input type="hidden" id="addNewFileParam"  th:value="${addNewFileParam}">
            <div class="row">
                <div class="form-group col-md-3">
                    <label class="col-sm-5 control-label">Manufacturer</label>
                    <div class="col-sm-7">
                        <select class="select2 form-control"
                                name="manufacturerData" id="manufacturerData"
                                th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option th:each="subTem:${manufacturerlist}"
                                    th:value="${subTem}"
                                    th:selected="${ subTem==manufacturerDataOld }"
                                    th:text="${subTem}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="col-sm-5 control-label">Model Name</label>
                    <div class="col-sm-7">
                        <select class="select2 form-control"
                                name="modelNameData" id="modelNameData"
                                th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option
                                    th:each="subTem:${modelNamelist}"
                                    th:value="${subTem}"
                                    th:selected="${ subTem==modelNameDataOld }"
                                    th:text="${subTem}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="col-sm-5 control-label">File Type</label>
                    <div class="col-sm-7">
                        <select class="select2 form-control"
                                name="fileTypeSearch" id="fileTypeSearch"
                                th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option value="1 Firmware Upgrade Image"
                                    th:selected="${fileTypeDataOld} == '1 Firmware Upgrade Image'">Firmware Image
                            </option>
                            <option value="3 Vendor Configuration File"
                                    th:selected="${fileTypeDataOld} == '3 Vendor Configuration File'">Vendor
                                Configuration File
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <div class="form-group col-md-12">
                            <a id="newFile">
                                <span class="glyphicon glyphicon-plus-sign glyphicon.glyphicon-globe"></span>
                                <label class="control-label lb-md"><b>New File</b></label>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <a id="confirm-delete-file" class="btn btn-sm btn-primary">Delete</a>
                </div>

            </div>

        </div>

        <div class="panel panel-flat panel-body">

            <div class="alert alert-success no-border" th:if="${paginator.totalPages == 0}">
                <a href="#" class="close"><span>×</span></a>
                <span class="text-bold" >No data result.</span>
            </div>

            <div th:if="${paginator.totalPages > 0}">
                <div class="row">
                    <div class="datatable-scroll">
                        <table id="dt_FileManagement"
                               class=" table datatable-sorting dataTable no-footer table-striped table-hover"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>

                                <th rowspan="1" tabindex="0"
                                    colspan="1" aria-controls="dt_FileManagement">
                                    <center>
                                        <input type="checkbox" id="checkAll" name="checkAll"/>
                                    </center>
                                </th>

                                <th tabindex="0"
                                    aria-controls="dt_FileManagement" rowspan="1" colspan="1" id="_id" hidden="true">
                                    <a href="#">ID</a>
                                </th>

                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="_manufacturer">Manufacturer</span>
                                </th>
                                <th tabindex=""
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="InternetGatewayDevice.DeviceInfo.ModelName">Model Name</span>
                                </th>
                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="_fileType">File Type</span>
                                </th>
                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="uploadFileName">File Name</span>
                                </th>
                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="_version">Version</span>
                                </th>
                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1">
                                    <span id="_registered">Created</span>
                                </th>
                                <th tabindex="0"
                                    aria-controls="dt_Device" rowspan="1" colspan="1"
                                    name="sortColumn">
                                    <span id="_fileSize">File Size (MB)</span>
                                </th>
                                <th align="center" width="36px">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="fileManagement:${paginator.fileManagements}" role="row" style="cursor: pointer;">
                                <td>
                                    <center><input type="checkbox" class="myCheckBox"
                                                   th:id="${fileManagement.id}"
                                                   th:attr="data-id=${fileManagement.id},
                                                            data-uploadFileName=${fileManagement.parameters.get('metadata.uploadFileName')},
                                                            data-filename=${fileManagement.parameters.get('filename')}"/></center>
                                </td>
                                <td th:text="${fileManagement.parameters.get('_id')}" hidden="true" name="cannotChange">
                                </td>
                                <td th:text="${fileManagement.parameters.get('filename')}" hidden="true" name="cannotChange">
                                </td>
                                <td th:each="key : ${paginator.indexParams.keySet()}" th:if="${key != '_id' && key != 'filename'}"
                                    th:text="${fileManagement.parameters.get(key)}" name="cannotChange"
                                    th:class="row_fileManagementList"
                                    th:data-href="@{'/file_management/delete' + ${fileManagement.id}}"></td>

                                <td align="center">
                                    <ul class="icons-list">
                                        <li><a href="javascript:void(0)" class="file-edit-opener"
                                               th:attr="data-manufacturer=${fileManagement.parameters.get('metadata.manufacturer')},
                                               data-modelName=${fileManagement.parameters.get('metadata.modelName')},
                                               data-fileType=${fileManagement.parameters.get('metadata.fileType')},
                                               data-version=${fileManagement.parameters.get('metadata.version')},
                                               data-uploadFileName=${fileManagement.parameters.get('metadata.uploadFileName')},
                                               data-filename=${fileManagement.parameters.get('filename')}">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a></li>
                                    </ul>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6 pull-left">
                    <span id="data-file-management-paginator"
                          th:attrappend="data-number=${paginator.number},
                                             data-totalPages=${paginator.totalPages},
                                             data-lastPage=${paginator.lastPage}" style="display: none"></span>
                        <ul class="pagination-flat pagination-sm twbs-prev-next"></ul>
                        <div style="position: relative; top: -11px; display: inline-block">
                            <input type="number" min="1" th:max="${paginator.lastPage}" placeholder="Page..."
                                   class="form-control go-page-input" style="display: inline-block; width: 50px">
                            <button class="btn btn-default go-page-btn">Go</button>
                            <select class="form-control limit-page-input" style="display: inline-block; width: 50px">
                                <option value="20" th:selected="${itemPerPage} == '20'">20</option>
                                <option value="30" th:selected="${itemPerPage} == '30'">30</option>
                                <option value="50" th:selected="${itemPerPage} == '50'">50</option>
                            </select>
                            <span>items/page</span>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>

</body>
</html>