<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="subscriber_template_tree" class="sidebar sidebar-main sidebar-default">
    <div class="device-type-sidebar">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content">
                <h5 class="text-uppercase"><span th:text="#{subscriberTemplate.title.subscriberTemplate}"> Subscriber Template</span> <i id="form-create-subscriber-template-opener" class="icon-plus3 position-right pull-right" style="cursor: pointer; top: 5px;"></i> </h5>
                <hr>
                <div th:if="!${noSubscriberTemplate}" class="subscriber-template-tree">
                    <ul>
                        <li th:each="sub:${listSubscriberTemplate}" th:classappend="${currentSubscriberTemplate.id == sub.id ? 'selected' : ''}" class="expanded" >
                            <a href="#" th:href="${'/subscriber-template/' + sub.id}" th:text="${sub.name}" class="a-no-color"></a>
                        </li>
                    </ul>
                </div>
                <div th:if="${noSubscriberTemplate}">
                    <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>