<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="policy_sidebar" class="sidebar sidebar-main sidebar-default">

    <h4><i class="position-left"></i> <span class="text-semibold" th:text="#{policy.title.policy}"></span></h4>

    <ul class="nav nav-pills nav-stacked policy-sidebar">
        <li><a th:href="@{'/policy'}"><span th:text="#{policy.menu.list}"></span></a></li>
        <li><a th:href="@{'/policy-configuration'}"><span th:text="#{policy.menu.configuration}"></span></a></li>
        <li><a th:href="@{'/policy-operation'}"><span th:text="#{policy.menu.operation}"></span></a></li>
        <li><a th:href="@{'/group-filter'}"><span th:text="#{policy.menu.group}"></span></a></li>
    </ul>

</div>
</body>
</html>