<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data Models</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <!-- /theme JS files -->

    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>


    <!--<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/js/pages/form_checkboxes_radios.js"></script>-->



    <!--ump js -->
    <script type="text/javascript" src="/ump/demo.js"></script>


    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <!-- /theme JS files -->

</head>
<body>

<div layout:fragment="page-header">
    <div class="page-header-content">
        <div class="page-title" style="padding-bottom: 0px">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">UMP</span>- <span th:text="#{Menu.Devices}"></span></h4>

            <ul class="breadcrumb breadcrumb-caret position-right">
                <li><a href="/"><span th:text="#{Menu.Home}"></span></a></li>
                <li><a href="/"><span th:text="#{Menu.Inventory}"></span></a></li>
                <li class="active"><span th:text="#{Menu.DataModels}"></span></li>
            </ul>
        </div>

        <div class="heading-elements heading-elements-advance-search" style="margin-top: -5px">
            <div class="row">
                <div class="col-md-8">
                    <!--<form th:action="@{/search}" class="main-search form-horizontal col-md-8" method="POST">-->
                    <form th:action="@{/search}" class="main-search form-horizontal" method="GET">
                        <div class="input-group content-group" style="width:100% !important;">
                            <div class="has-feedback has-feedback-left">
                                <input name="prefix" th:value="${prefix}" type="text" class="form-control input-xlg input-text-search" th:placeholder="#{input.search.placeholder}">
                                <div class="form-control-feedback position-right">
                                    <i class="icon-search4 text-muted text-size-base"></i>
                                </div>
                            </div>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-xlg"> <span th:text="#{button.search}"></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
    </div>
</div>

<div layout:fragment="content" style="margin-top: 0px !important;">

    <div class="page-content">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="datatable-scroll">

                        <table id="DataTables_Table_0"
                               class=" table datatable-sorting dataTable no-footer table-striped table-hover"
                               cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" id="id">ID</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" id="manufactuer">Manufactuer</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" id="oui">OUI</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" id="productClass">Product Class</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" id="firmwareVersion">Firmware version</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="deviceTypeVersion:${deviceTypeVersions}" role="row" style="cursor: pointer;" class="viewDeviceTypeVersion">
                                <td th:text="${deviceTypeVersion.id}" class="deviceTypeVersionId"></td>
                                <td th:text="${deviceTypeVersion.manufacturer}"></td>
                                <td th:text="${deviceTypeVersion.oui}"></td>
                                <td th:text="${deviceTypeVersion.productClass}"></td>
                                <td th:text="${deviceTypeVersion.firmwareVersion}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>