<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/ump/configuration_pre.js"></script>
</head>
<body>

<div th:fragment="configuration_tab" id="configuration_tab" th:title="#{device.detail.configuration.tab}" style="overflow: auto"
    >
    <div id="object-input-dialog" class="form-horizontal" title="Add Object">
        <!-- load from controller -->
    </div>
    <div th:replace="devices/alerts::alerts"></div>
    <div class="tabbable nav-tabs-vertical nav-tabs-left"
         th:if="${tags.get('configuration') != null && tags.get('configuration').size() > 0}">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li th:each="tag:${tags.get('configuration')}"
                th:class="${activeConfigTag!=null && tag.id==activeConfigTag.id ? 'active' : ''}">

                <a href="#" data-toggle="tab" class="legitRipple" aria-expanded="true"
                   th:onclick="'javascript:showTag(\''+ ${tag.id} +'\');'">
                    <i class="icon-menu7 position-left">
                    </i>
                    <span th:text="${tag.name}"></span>
                </a>
            </li>
        </ul>
        <p hidden="true" th:if="${tags.get('configuration').get(0) !=null}"
           th:text="${tags.get('configuration').get(0).id}" id="first-tag-id">
        <div class="tab-content">
            <div class="tab-pane has-padding active" id="tag-content">
            </div>
        </div>

    </div>
    <div th:if="${tags.size() == 0}">
        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
    </div>
    <div th:if="${ tags.size() >0 && tags.get('configuration') == null}">
        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
    </div>
    <div th:if="${tags.size() >0 && tags.get('configuration') != null && tags.get('configuration').size() == 0}">
        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
    </div>

</div>
</body>
</html>