<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<th:block th:fragment="object_tag_table(tag)">
        <p th:text="${tag.parentObject}" id="_parentObject" hidden="true"/>
    <div class="datatable-scroll">
        <table  class="table  dataTable  table-striped table-hover no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;"  id="_tableConfiguration" >
            <thead>
            <tr role="row">

                <th th:each="key : ${tag.parameters.keySet()}"  th:text="${key}"  th:if="${tag.parameters.get(key).inputType != 'hidden'}">
                </th>
                <th th:text="Action"></th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" width="30%" th:each="key : ${tag.parametersObject.keySet()}" th:id="'row_' + ${key}" class="object-data" th:if="${tag.parametersObject.size() > 0}" >
                <td th:each="tmp : ${tag.parameters.keySet()}" th:text="${tag.parametersObject.get(key).get(tmp)}" th:name="${tmp}" class="object-data"  th:if="${tag.parameters.get(tmp).inputType != 'hidden'}">
                </td>

                <td>
                    <a href="#" th:text="Delete"  class="btn btn-danger text-center delete-instance-default" role="button"
                    />
                    <a href="#" th:text="Edit" class="btn btn-primary text-center edit-instance-default" role="button"
                    />
                </td>

            </tr>
            <tr role="row" instanceId="" class="object-row-template">
                <th:block th:each="path:${tag.parameters.keySet()}" th:if="${tag.parameters.get(path).inputType != 'hidden'}">
                    <td  th:name="${path}" class="row-data">
                    </td>

                </th:block>
                <td>
                    <a href="#" th:text="Delete"  class="btn btn-danger text-center delete-instance" role="button"
                    />
                    <a href="#" th:text="Edit" class="btn btn-primary text-center edit-instance" role="button"
                    />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>
</body>
</html>