<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<th:block th:fragment="tag_input(tag)">
    <input type="hidden" name="tagId" th:value="${tag.id}">
    <div th:each="path:${tag.parameters.keySet()}" class="form-group">
            <th:block th:with="parameter=${tag.parameters.get(path)}">
                <label  class="control-label col-lg-3" th:text="${parameter.shortName}" th:if="${parameter.inputType != 'hidden'}">Text input</label>
                <div class="col-lg-9" th:switch="${parameter.inputType}" >
                    <th:block th:case="text">
                        <input type="text" th:name="${parameter.path}" class="form-control" th:minlength="${parameter.min()}" th:maxlength="${parameter.max()}" th:value="${parameter.value}" th:id="${parameter.useSubscriberData == 1 ?  parameter.value : ''}" required>
                    </th:block>

                    <th:block th:case="hidden">
                        <input type="hidden" th:name="${parameter.path}" th:value="${parameter.defaultValue}" class="form-control" readonly required>
                    </th:block>

                    <th:block th:case="checkbox">
                        <input type="checkbox" th:name="${parameter.path}" class="form-control" th:value="${parameter.value}" th:if="${parameter.value == 'true'}" checked required>
                        <input type="checkbox" th:name="${parameter.path}" class="form-control" value="false" th:if="${parameter.value == 'false' || parameter.value == ''}" required>
                    </th:block>

                    <th:block th:case="number">
                        <input type="number" th:name="${parameter.path}"  class="form-control" th:min="${parameter.min()}" th:max="${parameter.max()}" th:value="${parameter.value}" required>
                    </th:block>

                    <th:block th:case="password">
                        <input type="password" th:name="${parameter.path}" class="form-control" th:value="${parameter.value}" required>
                    </th:block>
                    <th:block th:case="textarea">
                        <input type="textarea" th:name="${parameter.path}" class="form-control" th:value="${parameter.value}" required>
                    </th:block>

                    <th:block th:case="select">
                        <select th:name="${parameter.path}" class="form-control">
                            <option th:each="choice:${parameter.possibleValues()}" th:value="${choice}" th:text="${choice}"></option>
                        </select>
                    </th:block>
                </div>
            </th:block>
        </div>
</th:block>
</body>
</html>