<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Provisioning</title>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript" src="/ump/provisioning.js"></script>
    <script type="text/javascript" src="/ump/provisioning_view_by_tag.js"></script>


</head>
<body>
<div layout:fragment="content" class="page-container" id="provisioning-page">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a class="btn btn-default" href="/provisioning?view-by=device" th:text="#{provisioning.button.deviceView}"></a>
                                <a class="btn btn-primary" href="/provisioning?view-by=tag" th:text="#{provisioning.button.tagView}"></a>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-default" id="create-provisioning-opener"><i class="icon-plus3"></i> <span th:text="#{provisioning.button.newTag}"></span></button>
                            <button class="btn btn-danger" id="remove-provisioning-by-tag-opener"><i class="icon-trash"></i> <span th:text="#{button.delete}"></span></button>
                        </div>
                    </div>

                    <hr>

                    <div th:if="${provisioningPaginator.totalElements == 0}" style="padding-top: 20px;">
                        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                    </div>

                    <div th:if="${provisioningPaginator.totalElements > 0}">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-provisioning-by-tag">
                                <thead>
                                <tr>
                                    <th align="center" width="36px"><input type="checkbox" id="checkbox-all"></th>
                                    <th>Tag name</th>
                                    <th>Assigned Device Type Version</th>
                                    <th align="center" width="36px">Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="provisioningItem:${provisioningPaginator.content}">
                                    <td><input type="checkbox" class="checkbox-row" th:data-removeId="${provisioningItem.tag.id}" th:data-removeName="${provisioningItem.tag.name}"></td>
                                    <td th:text="${provisioningItem.tag.name}"></td>
                                    <td>
                                        <select class="select2 device-type-version-select2" multiple th:data-rootTagId="${provisioningItem.tag.id}">
                                            <option th:each="deviceTypeVersionItem:${provisioningItem.deviceTypeVersions}"
                                                    th:data-deviceTypeVersionId="${deviceTypeVersionItem.id}"
                                                    th:value="${deviceTypeVersionItem.id}"
                                                    th:text="${deviceTypeVersionItem.manufacturer+' - '+deviceTypeVersionItem.modelName+' - '+deviceTypeVersionItem.firmwareVersion}"
                                                    selected></option>
                                        </select>
                                    </td>
                                    <td align="center">
                                        <ul class="icons-list">
                                            <li><a href="javascript:void(0)" class="edit-provisioning-opener" th:data-tagId="${provisioningItem.tag.id}"><i class="icon-pencil7"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>

                            <!--// BEGIN Paging-->
                            <span id="paginator-provisioning" th:data-number="${provisioningPaginator.number}" th:data-totalPages="${provisioningPaginator.totalPages}" ></span>
                            <ul class="pagination-flat pagination-sm twbs-prev-next"></ul>
                            <div style="position: relative; top: -11px; display: inline-block">
                                <input type="number" placeholder="Page..." class="form-control go-page-input" style="display: inline-block; width: 50px">
                                <button class="btn btn-default go-page-btn">Go</button>
                                <select class="form-control limit-page-input" style="display: inline-block; width: 50px">
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span>items/page</span>
                            </div>
                            <!--// END paging-->
                        </div>
                    </div>

                    <!--modal-->
                    <div th:replace="provisioning/modal/create_provisioning_modal::create_provisioning_modal"></div>
                    <!-- /modal-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>