<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Device Type</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <!-- /theme JS files -->
    <!-- App js files -->
    <script type="text/javascript" src="/ump/device_type.js"></script>
</head>
<body>

<div class="page-container" layout:fragment="content">
    <!-- create device type dialog-->
    <div th:replace="device_types/dialog/create_device_type_dialog::create_device_type_dialog"></div>
    <!-- /create device type dialog -->
    <div class="page-content">
        <!--Sidebar menu-->
        <div th:replace="fragments/device_types_tree::device_types_tree"></div>
        <!--/Sidebar menu-->
        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>
                            <ul th:if="${currentDeviceType!=null}" class="breadcrumb breadcrumb-caret position-right">
                                <li><a th:href="@{/device-types}"><i class="icon-arrow-left52 position-left"></i>DEVICE TYPES</a></li>
                                <li><a th:href="${'/device-types/'+deviceTypeModel.id}" th:text="${deviceTypeModel.manufacturer + ' - ' + deviceTypeModel.oui}">Manufacturer-OUI</a></li>
                                <li><a th:href="${'/device-types/'+deviceTypeModel.id}" th:text="${deviceTypeModel.name + ' - ' + deviceTypeModel.productClass}">Name-Product Class</a></li>
                            </ul>
                        </h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success no-border" th:if="${flagShowNoDeviceType}">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                        <span class="text-semibold"  th:text="#{deviceType.showNoDeviceType}"></span>
                    </div>
                    <div th:if="${deviceTypeModel != null && deviceTypeModel.id > 0}">
                        <form id="update-device-type" action="#" class="form-horizontal" th:object="${deviceTypeModel}" th:action="${'/device-types/'+deviceTypeModel.id + '/update'}" method="POST">
                            <div class="form-group">
                                <label class="control-label col-sm-3"> <span th:text="#{label.nameDeviceType}"></span> <span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input th:field="*{name}" type="text" placeholder="" class="form-control" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3"> <span th:text="#{label.manufacturer}"></span> <span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input th:field="*{manufacturer}" type="text" placeholder="" class="form-control" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">OUI<span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input th:field="*{oui}" type="text" placeholder="" class="form-control" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3"><span th:text="#{label.productClass}"></span><span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input th:field="*{productClass}" type="text" placeholder="" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" th:text="#{deviceType.connectionRequestUsername}"></label>
                                <div class="col-sm-9">
                                    <input th:field="*{connectionRequestUsername}" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" th:text="#{deviceType.connectionRequestPassword}"></label>
                                <div class="col-sm-9">
                                    <input th:field="*{connectionRequestPassword}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" th:text="#{deviceType.intervalTime}"></label>
                                <div class="col-sm-9">
                                    <input th:field="*{intervalTime}" type="text" name="numbers" class="form-control" placeholder="Enter decimal number only. Unit is second">
                                </div>
                            </div>
                            <input type="hidden" th:field="*{id}">
                            <div class="text-right">
                                <button id="button_update" type="submit" name="submitButton" class="btn btn-primary legitRipple" th:text="#{label.saveButton}"></button>
                            </div>
                        </form>
                        <a href="#" id="confirm-delete-dialog-opener" class="btn btn-warning text-center" type="button" style="position: absolute;right: 92px; bottom: 20px;" th:text="#{label.deleteButton}"></a>
                        <div id="confirm-delete-dialog" th:title="#{deviceType.confirmDelete}">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <form id ="form2" action="#" class="form-horizontal text-right" th:action="${'/device-types/'+deviceTypeModel.id+'/delete'}" method="POST" style="display: inline-block">
                                        <input type="hidden" name="deviceTypeVersionId" value="">
                                        <button type="submit" class="btn btn-warning" th:text="#{label.deleteButton}"></button>
                                    </form>
                                    <button id="confirm-delete-dialog-close" class="btn btn-primary" th:text="#{label.cancelButton}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>