<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UMP | Alarm Dashboard</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/assets/js/plugins/ui/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>


    <script src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/assets/js/plugins/ui/bootstrap-datetimepicker.min.js"></script>

    <!-- App js files -->
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/ump/device_type.js"></script>
    <script type="text/javascript" src="/ump/alarm_list.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm:ss'
           });
                $('#datetimepicker2').datetimepicker({
                 format: 'YYYY-MM-DD HH:mm:ss'
           });
            });
    </script>

    <style>
        .red {
            color: red;
        }
        .margin-label {
            margin-top: 10px;
        }
        .ribbon {
           position: absolute;
        }
    </style>
</head>
<body>

<div layout:fragment="content" style="margin-top: 0px !important;">

    <div class="row" style="margin-bottom: 10px;">
        <a class="btn btn-primary"href="/alarm" th:text="#{alarm.dashboard}"></a>
        <a class="btn btn-primary" style="margin-left: 10px;" href="/alarm-setting" th:text="#{alarm.setting}"></a>

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="sidebar sidebar-main sidebar-default">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="/alarm"><span th:text="#{alarms.list}"></span></a></li>
                    <li><a href="/alarm-graph"><span th:text="#{alarms.graph}"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div th:replace="alarm_dashboard/fragments/alarm_list::alarm_list_fragment"></div>
        </div>




    </div>
</div>

</body>
</html>