<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>UMP | Policy Configuration</title>

    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>

    <script type="text/javascript" src="/ump/policy.js"></script>
    <script type="text/javascript" src="/ump/edit_policy_configuration.js"></script>
</head>
<body>
<div class="page-container" layout:fragment="content">
    <div class="page-content">

        <div th:replace="policy/fragments/policy_sidebar::policy_sidebar"></div>

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">

                    <!--<editor-fold desc="FORM POLICY CONFIGURATION">-->
                    <form class="form-horizontal policy-configuration-form" th:data-policyId="${policyJob.id}" th:action="${'/policy-configuration/'+policyJob.id+'/update'}" method="POST" enctype="multipart/form-data">

                        <!--NAME-->
                        <fieldset class="content-group">
                            <legend class="text-bold">POLICY CONFIGURATION</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right col-md-3">Policy Name: <span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="name" placeholder="Write a name..."
                                                   th:value="${policyJob.name}"
                                                   required="required" maxlength="255"
                                                   notExisted="notExisted" th:check-api="${'/policy/'+policyJob.id+'/get-existed?name='}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right col-md-3">Priority weights: <span class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control validateInteger" name="priority" placeholder="Write a priority..."
                                                   th:value="${policyJob.priority}"
                                                   required="required" min="1" max="2147483647"
                                                   notExisted="notExisted" th:check-api="${'/policy/'+policyJob.id+'/get-existed-priority?priority='}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <!--SELECT TARGETED DEVICES-->
                        <fieldset class="content-group">
                            <legend class="text-bold">SELECT TARGETED DEVICES</legend>

                            <div class="row">
                                <div class="col-md-6" style="border-right: 1px solid #e5e5e5;">
                                    <div class="form-group">
                                        <div class="col-md-3 text-right">
                                            <div class="radio"><label> <input type="radio" name="selectedTargetedDevices" value="byFilters" th:checked="${policyJob.deviceGroupId != null ? 'checked' : 'false'}"> By Filters </label></div>
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control select2 device-group-select2 byFilters" name="deviceGroupId">
                                                <option value=""></option>
                                                <option th:each="_deviceGroup:${deviceGroups}"
                                                        th:selected="${policyJob.deviceGroupId == _deviceGroup.id ? 'selected' : 'false'}"
                                                        th:value="${_deviceGroup.id}" th:text="${_deviceGroup.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-3 text-right">
                                            <div class="radio"><label> <input type="radio" name="selectedTargetedDevices" value="byExternalFile" th:checked="${policyJob.deviceGroupId == null ? 'checked' : 'false'}"> By External File </label></div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="uploader">
                                                <input type="file" accept=".xlsx, .txt" class="file-styled" name="externalFile">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                        <!--SCHEDULE-->
                        <fieldset class="content-group">
                            <legend class="text-bold">SCHEDULE</legend>
                            <div class="row">
                                <div class="col-md-6" style="border-right: 1px solid #e5e5e5;">
                                    <div class="form-group">
                                        <div class="col-md-3 text-right">
                                            <div class="radio"><label> <input type="radio" name="schedule" value="startAt" th:checked="${policyJob.startAt != null ? 'checked' : 'false'}"> Start At </label></div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control startAt" id="anytime-both" name="startAt" placeholder="- Pick datetime -" th:value="${#dates.format(policyJob.startAt, 'dd-MM-yyyy HH:mm')}">
                                                <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                                <!--<input type="text" class="form-control" id="anytime-both" value="June 4th 08:47">-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="control-label text-right col-md-3">Time interval (min):</label>
                                        <div class="col-md-3">
                                            <input type="number" min="1" max="2147483647" class="form-control startAt validateInteger" name="timeInterval" placeholder="Write number..." th:value="${policyJob.timeInterval}">
                                        </div>

                                        <label class="control-label text-right col-md-3">Max number of devices/interval:</label>
                                        <div class="col-md-3">
                                            <input type="number" min="1" max="2147483647" class="form-control startAt validateInteger" name="maxNumber" placeholder="Write number..." th:value="${policyJob.maxNumber}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label text-right col-md-3">Events:</label>
                                        <div class="col-lg-4">
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_0" value="0 BOOTSTRAP" th:checked="${#lists.contains(policyJob.events, '0 BOOTSTRAP') ? 'checked' : 'false'}"> 0 BOOTSTRAP </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_1" value="1 BOOT" th:checked="${#lists.contains(policyJob.events, '1 BOOT') ? 'checked' : 'false'}"> 1 BOOT </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_2" value="2 PERIODIC" th:checked="${#lists.contains(policyJob.events, '2 PERIODIC') ? 'checked' : 'false'}"> 2 PERIODIC </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_3" value="3 SCHEDULED" th:checked="${#lists.contains(policyJob.events, '3 SCHEDULED') ? 'checked' : 'false'}"> 3 SCHEDULED </label></div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_4" value="4 VALUE CHANGE" th:checked="${#lists.contains(policyJob.events, '4 VALUE CHANGE') ? 'checked' : 'false'}"> 4 VALUE CHANGE </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_5" value="6 CONNECTION REQUEST" th:checked="${#lists.contains(policyJob.events, '6 CONNECTION REQUEST') ? 'checked' : 'false'}"> 6 CONNECTION REQUEST </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_6" value="7 TRANSFER COMPLETE" th:checked="${#lists.contains(policyJob.events, '7 TRANSFER COMPLETE') ? 'checked' : 'false'}"> 7 TRANSFER COMPLETE </label></div>
                                            <div class="checkbox"><label>
                                                <input type="checkbox" class="startAt unrequired" name="events_7" value="8 DIAGNOSTICS COMPLETE" th:checked="${#lists.contains(policyJob.events, '8 DIAGNOSTICS COMPLETE') ? 'checked' : 'false'}"> 8 DIAGNOSTICS COMPLETE </label></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label text-right col-md-3">Number Of Executions:</label>
                                        <div class="col-md-4">
                                            <input type="radio" class="startAt" name="radioLimited" value="0" th:checked="${policyJob.limited == null}"> Unlimited
                                            <input type="radio" class="startAt" name="radioLimited" value="1" th:checked="${policyJob.limited != null}"> Limited
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control startAt unrequired validateInteger" min="1" max="2147483647" name="limited" th:value="${policyJob.limited}">
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="schedule" value="immediately" th:checked="${policyJob.startAt == null ? 'checked' : 'false'}"> Immediately
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <!--PARAMETERS-->
                        <fieldset class="content-group">
                            <legend class="text-bold">PARAMETERS</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label text-right col-md-3">Select Parameter: </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text" class="form-control add-parameter-input" placeholder="Write parameter..." maxlength="255">
                                                <span class="input-group-btn">
                                                    <a class="btn btn-xs btn-raised legitRipple btn-icon btn-rounded btn-primary add-parameter-btn"><i class="icon-plus3"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="table-scrollable">
                                        <table class="table table-hover parameters-table" th:data-policyParameters="${policyParameters}">
                                            <thead>
                                            <tr>
                                                <th>Parameter</th>
                                                <th>Value</th>
                                                <th width="45px">Remove</th>
                                            </tr>
                                            </thead>
                                            <tbody class="list-parameters"></tbody>
                                            <tbody class="list-parameters-template" style="display: none;">
                                            <tr data-parameterPath="{path}">
                                                <td>{path}</td>
                                                <td>{inputParameter}</td>
                                                <td nowrap align="center">
                                                    <ul class="icons-list">
                                                        <li><a data-parameterPath="{path}" class="remove-parameter-btn" href="javascript:void(0)"><i class="icon-trash"></i></a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tr class="list-parameters-no-data">
                                                <td colspan="10" align="center">No data.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <!--BUTTON-->
                        <fieldset class="content-group text-right">
                            <button type="submit" class="btn btn-raised legitRipple btn-info btnSave"> <i class="position-left icon-checkmark3"></i> SAVE</button>
                            <a onclick="location.reload()" class="btn btn-raised legitRipple btn-default"> <i class="position-left icon-cross2"></i> CANCEL</a>
                        </fieldset>

                    </form>
                    <!--</editor-fold>-->

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>