<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>UMP | Policy Log</title>

    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pickers/anytime.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>

    <script type="text/javascript" src="/ump/policy.js"></script>

</head>
<body>
<div class="page-container" layout:fragment="content">
    <div class="page-content">

        <div th:replace="policy/fragments/policy_sidebar::policy_sidebar"></div>

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">

                    <div class="btn-group">
                        <a th:href="${policyJob.actionName == 'parameters' ? '/policy-configuration/' + policyJob.id : '/policy-operation/' + policyJob.id}" class="btn btn-raised legitRipple btn-default"> <i class="position-left icon-info22"></i> Info</a>
                        <a onclick="location.reload()" class="btn btn-raised legitRipple btn-primary"> <i class="position-left icon-history"></i> Log</a>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>SUMMARY</h3>
                        </div>
                        <div class="col-sm-2">
                            Total: <span th:text="${summary.totalElements}"></span>
                        </div>
                        <div class="col-sm-2">
                            In process: <span th:text="${summary.totalInprocess}"></span>
                        </div>
                        <div class="col-sm-2">
                            Completed: <span th:text="${summary.totalCompleted}"></span>
                        </div>
                        <div class="col-sm-2">
                            Error: <span th:text="${summary.totalError}"></span>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                    </div>

                    <div th:if="${policyTasks.length == 0}" style="padding-top: 20px;">
                        <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
                    </div>

                    <div class="row" th:if="${policyTasks.length > 0}">
                        <div class="con-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover policy-table">
                                    <thead>
                                    <tr>
                                        <th>OUI</th>
                                        <th>Product Class</th>
                                        <th>Serial Number</th>
                                        <th>Completed</th>
                                        <th>Error Code</th>
                                        <th>Error Text</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="policyTaskItem:${policyTasks}">
                                        <td th:text="${policyTaskItem.getOui()}"></td>
                                        <td th:text="${policyTaskItem.getProductClass()}"></td>
                                        <td th:text="${policyTaskItem.getSerialNumber()}"></td>
                                        <td nowrap th:text="${#dates.format(policyTaskItem.completed, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td th:text="${policyTaskItem.errorCode}"></td>
                                        <td th:text="${policyTaskItem.errorText}"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br>
                                <span id="data-policy-log-paginator" th:attrappend="data-number=${request.get('page')}" data-totalPages="999" style="display: none"></span>
                                <ul class="pagination-flat pagination-sm twbs-prev-next"></ul>
                                <div style="position: relative; top: -11px; display: inline-block">
                                    <input type="number" placeholder="Page..." class="form-control go-page-input"  style="display: inline-block; width: 50px">
                                    <button class="btn btn-default go-page-btn">Go</button>
                                    <select class="form-control limit-page-input" style="display: inline-block; width: 50px">
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                    <span>items/page</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>