<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="userSidebar" class="sidebar sidebar-main sidebar-default">
    <h4><i class="position-left"></i> <span class="text-uppercase"> User management</span></h4>

    <ul class="nav nav-pills nav-stacked userSidebar">
        <li><a th:href="@{'/user'}"> List</a></li>
        <li><a th:href="@{'/role'}"> Role</a></li>
        <li><a th:href="@{'/permission'}"> Permission</a></li>
    </ul>

    <script>
        $(function () {
            // ACTIVE SIDEBAR
            var arrPathname = location.pathname.split('/');
            var rootPathname = '/' + arrPathname[1];
            $('.userSidebar').find('a[href="'+rootPathname+'"]').parent('li').addClass('active')
        })
    </script>

</div>
</body>
</html>