<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom RPC</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/assets/js/plugins/ui/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>
    <!-- App js files -->
    <script type="text/javascript" src="/ump/customRPC_parameter_values.js"></script>
</head>
<body>



<div class="page-container" layout:fragment="content">

    <div class="sidebar sidebar-main sidebar-default">
        <h4><i class="position-left"></i>
            <span class="text-semibold" th:text="#{device.list}"></span>
        </h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/"><span th:text="#{device.listTitle}"></span></a></li>
            <li><a th:href="@{'/devices/device_info/'} + ${deviceID}"><span th:text="#{device.deviceInfo}"></span></a></li>
            <li><a th:href="@{'/devices/device_settings/'} + ${deviceID}"><span th:text="#{device.deviceSettings}"></span></a></li>
            <li><a th:href="@{'/devices/device_advanced_view/'} + ${deviceID}"><span th:text="#{device.deviceAdvancedView}"></span></a></li>
            <li class="active"><a th:href="@{'/devices/device_customRPC/'} + ${deviceID}"><span th:text="#{device.deviceCustomRPC}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_download/'} + ${deviceID}"><span th:text="#{device.deviceFileDownload}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_upload/'} + ${deviceID}"><span th:text="#{device.deviceFileUpload}"></span></a></li>
            <li><a th:href="@{'/devices/device_diagnostics/'} + ${deviceID}"><span th:text="#{device.deviceDiagnostics}"></span></a></li>
            <li><a th:href="@{'/devices/device_activity/'} + ${deviceID}"><span th:text="#{device.deviceLogs}"></span></a></li>
        </ul>

    </div>

    <div class="panel">
        <!--<div class="sidebar sidebar-main sidebar-default">-->
        <!--<div class="sidebar-content">-->

        <div class="sidebar-category sidebar-category-visible" style="background-color: white;">
            <div class="groupTree-content">
                <h4 class="text-uppercase">
                    <span>CUSTOM RPC</span>
                </h4>
                <hr>
            </div>

        </div>

        <!-- alert -->
        <div class="row group-tree-body">
            <div id="alerts">
                <div class="alert alert-success no-border" hidden="true" id="alert_success">
                    <input id="alert_success_input" th:class="#{device.fileDownload.alert_success}"  type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-primary no-border" hidden="true" id="alert_primary">
                    <input id="alert_primary_input" th:class="#{device.fileDownload.alert_fail}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger">
                    <input id="alert_danger_input" th:class="#{device.fileUpload.object}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger_validate">
                    <input id="alert_danger_validate_input" th:class="#{device.fileUpload.validate}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger_validate_url">
                    <input id="alert_danger_validate_url_input" th:class="#{device.fileUpload.validate.url}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
            </div>

            <form id ="form_customRPC" class="form-horizontal form-validate-jquery" novalidate="novalidate">

                <div class="row">
                <div class="form-group col-md-9">
                    <label class="control-label col-sm-2">Method name <span class="text-danger"></span></label>
                    <div class="col-sm-10">
                        <select class="select2 form-control" id="method" name="method" th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option value="addObject" th:selected="${method}=='addObject'">AddObject</option>
                            <option value="deleteObject" th:selected="${method}=='deleteObject'">DeleteObject</option>
                            <option value="Upload" th:selected="${method}=='Upload'">Upload</option>
                            <option value="Download" th:selected="${method}=='Download'">Download</option>
                            <option value="Reboot" th:selected="${method}=='Reboot'">Reboot</option>
                            <option value="FactoryReset" th:selected="${method}=='FactoryReset'">FactoryReset</option>
                            <option value="SetParameterValues" th:selected="${method}=='SetParameterValues'">SetParameterValues</option>
                            <option value="GetParameterValues" th:selected="${method}=='GetParameterValues'">GetParameterValues</option>
                            <option value="GetParameterNames" th:selected="${method}=='GetParameterNames'">GetParameterNames</option>
                            <option value="SetParameterAttributes" th:selected="${method}=='SetParameterAttributes'">SetParameterAttributes</option>
                            <option value="GetParameterAttributes" th:selected="${method}=='GetParameterAttributes'">GetParameterAttributes</option>
                            <option value="GetRPCMethod" th:selected="${method}=='GetRPCMethod'">GetRPCMethod</option>
                        </select>
                    </div>
                </div>
                </div>

                <div class="row" th:if="${method == 'GetParameterValues'} or ${method == 'GetParameterAttributes'}">

                    <div class="form-group col-md-9">
                        <label class="col-sm-2 control-label">Parameter Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control add-parameter-input" maxlength="255" placeholder="Write parameter...">
                        </div>
                    </div>

                    <span class="input-group-btn">
                        <a class="btn btn-xs btn-raised legitRipple btn-icon btn-rounded btn-primary add-parameter-btn"><i class="icon-plus3"></i></a>
                        </span>

                </div>

                <div class="row" th:if="${method == 'SetParameterValues'}">

                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">Parameter Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control add-parameter-input" maxlength="255" placeholder="Write parameter...">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-sm-5 control-label">Parameter Value</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="valueRange" type="text">
                        </div>
                    </div>

                    <span class="input-group-btn">
                        <a class="btn btn-xs btn-raised legitRipple btn-icon btn-rounded btn-primary add-parameter-btn"><i class="icon-plus3"></i></a>
                        </span>

                </div>

                <div class="form-group col-md-11" style="padding-left: 135px;" th:if="${method == 'SetParameterValues'}">
                    <input type="hidden" name="tableParameter" id="tableParameter"/>
                    <div class="">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th>Value</th>
                                    <th width="45px">Remove</th>
                                </tr>
                                </thead>
                                <tbody class="list-parameters"></tbody>
                                <tbody class="list-parameters-template" style="display: none;">
                                <tr data-parameterPath="{path}">
                                    <td>{path}</td>
                                    <td>{inputParameter}</td>
                                    <td nowrap align="center">
                                        <ul class="icons-list">
                                            <li><a data-parameterPath="{path}" class="remove-parameter-btn" href="javascript:void(0)"><i class="icon-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                                <tr class="list-parameters-no-data">
                                    <td colspan="10" align="center">No data.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-9" style="padding-left: 135px;" th:if="${method == 'GetParameterValues'} or ${method == 'GetParameterAttributes'}">
                    <input type="hidden" name="tableParameter" id="tableParameterGet"/>
                    <div class="">
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Parameter</th>
                                    <th width="15px">Remove</th>
                                </tr>
                                </thead>
                                <tbody class="list-parameters"></tbody>
                                <tbody class="list-parameters-template" style="display: none;">
                                <tr data-parameterPath="{path}">
                                    <td>{path}</td>
                                    <td nowrap align="center">
                                        <ul class="icons-list">
                                            <li><a data-parameterPath="{path}" class="remove-parameter-btn" href="javascript:void(0)"><i class="icon-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                                <tr class="list-parameters-no-data">
                                    <td colspan="10" align="center">No data.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class="form-group col-md-9" th:if="${method != ''}">
                    <label class="control-label col-sm-2">Request <span class="text-danger"></span></label>
                    <div class="col-sm-10">
                        <textarea id="request" th:name="request" th:text="${requestGetRPC != '' ? requestGetRPC : ''}" rows="8" cols="50" class="form-control" required="required"></textarea>
                    </div>
                </div>
                </div>

                <div class="row col-md-11 col-md-offset-1 radio" style="padding-left: 176px;" th:if="${method != ''}">
                    <label class="col-md-4">
                        <input id="requestNow" type="radio" name="request" class="control-success" th:value="true" checked="checked">
                        Request device to connect
                    </label>

                    <label class="col-md-4">
                        <input type="radio" name="request" class="control-danger" th:value="false">
                        Wait for the next contact
                    </label>
                </div>

            </form>

            <div class="text-center" style="padding-top: 60px;">
                <button id="send_customRPC" th:name="${deviceID}" class="btn btn-primary legitRipple" th:text="#{device.fileDownload.send}">Send<i class="icon-arrow-right14 position-right"></i></button>
                <a id="send_customRPC-close"  class="btn btn-warning text-center" th:text="#{button.cancel}">Cancel</a>
            </div>

        </div>

    </div>

</div>

</body>
</html>