<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom RPC</title>

    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/ripple.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/assets/js/plugins/ui/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_childcounter.js"></script>

    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/buttons.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/pagination/bs_pagination.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/switch.min.js"></script>
    <!-- App js files -->
    <script type="text/javascript" src="/ump/customRPC_download.js"></script>
</head>
<body>



<div class="page-container" layout:fragment="content">

    <div class="sidebar sidebar-main sidebar-default">
        <h4><i class="position-left"></i>
            <span class="text-semibold" th:text="#{device.list}"></span>
        </h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/"><span th:text="#{device.listTitle}"></span></a></li>
            <li><a th:href="@{'/devices/device_info/'} + ${deviceID}"><span th:text="#{device.deviceInfo}"></span></a></li>
            <li><a th:href="@{'/devices/device_settings/'} + ${deviceID}"><span th:text="#{device.deviceSettings}"></span></a></li>
            <li><a th:href="@{'/devices/device_advanced_view/'} + ${deviceID}"><span th:text="#{device.deviceAdvancedView}"></span></a></li>
            <li class="active"><a th:href="@{'/devices/device_customRPC/'} + ${deviceID}"><span th:text="#{device.deviceCustomRPC}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_download/'} + ${deviceID}"><span th:text="#{device.deviceFileDownload}"></span></a></li>
            <li><a th:href="@{'/devices/device_file_upload/'} + ${deviceID}"><span th:text="#{device.deviceFileUpload}"></span></a></li>
            <li><a th:href="@{'/devices/device_diagnostics/'} + ${deviceID}"><span th:text="#{device.deviceDiagnostics}"></span></a></li>
            <li><a th:href="@{'/devices/device_activity/'} + ${deviceID}"><span th:text="#{device.deviceLogs}"></span></a></li>
        </ul>

    </div>

    <div class="panel">
        <!--<div class="sidebar sidebar-main sidebar-default">-->
        <!--<div class="sidebar-content">-->

        <div class="sidebar-category sidebar-category-visible" style="background-color: white;">
            <div class="groupTree-content">
                <h4 class="text-uppercase">
                    <span>CUSTOM RPC</span>
                </h4>
                <hr>
            </div>

        </div>

        <!-- alert -->
        <div class="row group-tree-body">
            <div id="alerts">
                <div class="alert alert-success no-border" hidden="true" id="alert_success">
                    <input id="alert_success_input" th:class="#{device.fileDownload.alert_success}"  type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-primary no-border" hidden="true" id="alert_primary">
                    <input id="alert_primary_input" th:class="#{device.fileDownload.alert_fail}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger">
                    <input id="alert_danger_input" th:class="#{device.fileUpload.object}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger_validate">
                    <input id="alert_danger_validate_input" th:class="#{device.fileUpload.validate}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
                <div class="alert alert-danger no-border" hidden="true" id="alert_danger_validate_url">
                    <input id="alert_danger_validate_url_input" th:class="#{device.fileUpload.validate.url}" type="hidden">
                    <button type="button" class="close" ><span>×</span><span class="sr-only">Close</span></button>
                    <span class="text-semibold" ></span>
                </div>
            </div>

            <form id ="form_customRPC" class="form-horizontal form-validate-jquery" novalidate="novalidate">

                <div class="row">

                <div class="form-group col-md-6">
                    <label class="control-label col-sm-3">Method name <span class="text-danger"></span></label>
                    <div class="col-sm-9">
                        <select class="select2 form-control" id="method" name="method" th:data-placeholder="#{select.search.placeholder}">
                            <option value=""></option>
                            <option value="addObject" th:selected="${method}=='addObject'">AddObject</option>
                            <option value="deleteObject" th:selected="${method}=='deleteObject'">DeleteObject</option>
                            <option value="Upload" th:selected="${method}=='Upload'">Upload</option>
                            <option value="Download" th:selected="${method}=='Download'">Download</option>
                            <option value="Reboot" th:selected="${method}=='Reboot'">Reboot</option>
                            <option value="FactoryReset" th:selected="${method}=='FactoryReset'">FactoryReset</option>
                            <option value="SetParameterValues" th:selected="${method}=='SetParameterValues'">SetParameterValues</option>
                            <option value="GetParameterValues" th:selected="${method}=='GetParameterValues'">GetParameterValues</option>
                            <option value="GetParameterNames" th:selected="${method}=='GetParameterNames'">GetParameterNames</option>
                            <option value="SetParameterAttributes" th:selected="${method}=='SetParameterAttributes'">SetParameterAttributes</option>
                            <option value="GetParameterAttributes" th:selected="${method}=='GetParameterAttributes'">GetParameterAttributes</option>
                            <option value="GetRPCMethod" th:selected="${method}=='GetRPCMethod'">GetRPCMethod</option>
                        </select>
                    </div>
                </div>

                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">Password <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="password" th:name="password" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">

                <div class="form-group col-md-6">
                    <label class="control-label col-sm-3">Command key <span class="text-danger"></span></label>
                    <div class="col-sm-9">
                        <input id="commandKey" th:name="commandKey" type="text" placeholder="" class="form-control">
                    </div>
                </div>


                <div class="form-group col-md-6">
                    <label class="control-label col-sm-3">Delay seconds <span class="text-danger"></span></label>
                    <div class="col-sm-9">
                        <input id="delay" th:name="delay" type="number" min="0" value="0" placeholder="" class="form-control">
                    </div>
                </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">File type <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <select class="select2 form-control" id="fileType" name="fileType" th:data-placeholder="#{device.fileUpload.choose}" required="required">
                                <option value=""></option>
                                <option value="1 Firmware Upgrade Image">1 Firmware Upgrade Image</option>
                                <option value="2 Web Content">2 Web Content</option>
                                <option value="3 Vendor Configuration File">3 Vendor Configuration File</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">File size <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="fileSize" th:name="fileSize" value="0" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">URL <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="url" th:name="url" type="text" placeholder="" class="form-control">
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">Target File Name <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="target" th:name="target" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">Username <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="username" th:name="username" type="text" placeholder="" class="form-control">
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">SuccessURL <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="successURL" th:name="successURL" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label class="control-label col-sm-3">FailureURL <span class="text-danger"></span></label>
                        <div class="col-sm-9">
                            <input id="failureURL" th:name="failureURL" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                </div>

                <div class="form-group" th:if="${method != ''}">
                    <label class="control-label col-sm-3">Request <span class="text-danger"></span></label>
                    <div class="col-sm-9" style="width: 60%;">
                        <textarea id="request" th:name="request" th:text="${requestGetRPC != '' ? requestGetRPC : ''}" rows="12" cols="50" class="form-control" required="required"></textarea>
                    </div>
                </div>

                <div class="row col-md-11 col-md-offset-1 radio" style="padding-left: 176px;" th:if="${method != ''}">
                    <label class="col-md-4">
                        <input id="requestNow" type="radio" name="request" class="control-success" th:value="true" checked="checked">
                        Request device to connect
                    </label>

                    <label class="col-md-4">
                        <input type="radio" name="request" class="control-danger" th:value="false">
                        Wait for the next contact
                    </label>
                </div>

            </form>

            <div class="text-center" style="padding-top: 60px;">
                <button id="send_customRPC" th:name="${deviceID}" class="btn btn-primary legitRipple" th:text="#{device.fileDownload.send}">Send<i class="icon-arrow-right14 position-right"></i></button>
                <a id="send_customRPC-close"  class="btn btn-warning text-center" th:text="#{button.cancel}">Cancel</a>
            </div>

        </div>

    </div>

</div>

</body>
</html>