<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMP | Device Advanced View</title>

    <link href="/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery_ui/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/trees/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>

    <script type="text/javascript" src="/ump/device_advanced_view.js"></script>

    <style>
        .fancytree-treefocus .fancytree-selected .fancytree-title, .fancytree-selected .fancytree-title {
            background-color: #F6F792;
        }
        .fancytree-active .fancytree-title {
            background-color: #ddd !important;
        }
    </style>

</head>
<body>
<div class="page-container" layout:fragment="content">
    <div class="page-content">

        <!--Sidebar-->
        <div class="sidebar sidebar-main sidebar-default">
            <h4><i class="position-left"></i>
                <span class="text-semibold" th:text="#{device.list}"></span>
            </h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/"><span th:text="#{device.listTitle}"></span></a></li>
                <li><a th:href="@{'/devices/device_info/'} + ${deviceId}"><span th:text="#{device.deviceInfo}"></span></a></li>
                <li><a th:href="@{'/devices/device_settings/'} + ${deviceId}"><span th:text="#{device.deviceSettings}"></span></a></li>
                <li class="active"><a th:href="@{'/devices/device_advanced_view/'} + ${deviceId}"><span th:text="#{device.deviceAdvancedView}"></span></a></li>
                <li><a th:href="@{'/devices/device_customRPC/'} + ${deviceId}"><span th:text="#{device.deviceCustomRPC}"></span></a></li>
                <li><a th:href="@{'/devices/device_file_download/'} + ${deviceId}"><span th:text="#{device.deviceFileDownload}"></span></a></li>
                <li><a th:href="@{'/devices/device_file_upload/'} + ${deviceId}"><span th:text="#{device.deviceFileUpload}"></span></a></li>
                <li><a th:href="@{'/devices/device_diagnostics/'} + ${deviceId}"><span th:text="#{device.deviceDiagnostics}"></span></a></li>
                <li><a th:href="@{'/devices/device_activity/'} + ${deviceId}"><span th:text="#{device.deviceLogs}"></span></a></li>
            </ul>
        </div>
        <!--// Sidebar-->

        <!--No data-->
        <div th:if="${currentDevice == null}" class="panel panel-flat">
            <div class="panel-body">
                <div th:replace="fragments/alert/no_data_result::no_data_result"></div>
            </div>
        </div>
        <!--// No data-->

        <!--Main content-->
        <div th:if="${currentDevice != null}"  class="panel panel-flat">
            <div class="panel-heading">
                <div class="rơw">
                    <h6 class="col-md-6 text-primary"> Serial Number: <span th:text="${currentDevice.serialNumber()}"></span></h6>
                    <h6 class="col-md-6 text-primary"> Manufacturer: <span th:text="${currentDevice.manufacturer()}"></span></h6>
                </div>
                <div class="rơw">
                    <h6 class="col-md-6 text-primary"> Model Name: <span th:text="${currentDevice.modelName()}"></span></h6>
                    <h6 class="col-md-6 text-primary"> Firmware/Software Version: <span th:text="${currentDevice.softwareVersion()}"></span></h6>
                    <div class="col-md-12"> <hr> </div>
                </div>
            </div>
            <div class="panel-body">

                <span class="data-response" style="display: none"
                      th:data-currentDeviceId="${currentDevice.id}"
                      th:data-currentDeviceTypeVersionId="${currentDeviceTypeVersionId}">
                </span>

                <div class="col-md-5">
                    <h3><i class="icon-list2"></i> Object Tree</h3>
                    <div class="treeObject"></div>
                    <br>
                    <button class="btn  btn-icon btn-default btnAddObject" title="Add Object" style="display: none;"><i class="icon-plus3"></i></button>
                    <button class="btn  btn-icon btn-default btnDeleteObject" title="DeleteObject" style="display: none;"><i class="icon-trash-alt"></i></button>
                    <button class="btn  btn-icon btn-default btnRefreshObject" title="Refresh Object" style="display: none;"><i class="icon-sync"></i></button>
                    <button class="btn  btn-icon btn-default btnSaveObject" title="Save All Object" style="display: none;"><i class="icon-check"></i></button>
                    <br>
                </div>
                <div class="col-md-7">
                    <h3><i class="icon-list2"></i> List Parameters</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control inputSearchParameters" placeholder="Search something...">
                        </div>
                        <div class="col-md-6" style="overflow: hidden; text-overflow: ellipsis">
                            <span class="labelCurrentParentObjectPath" style="line-height: 38px; text-overflow: ellipsis"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered table-framed table-hover table-pointer">
                            <thead>
                            <tr>
                                <th>Parameter Name</th>
                                <th>Parameter Value</th>
                                <th width="48px">Read/Write</th>
                            </tr>
                            </thead>
                            <tbody class="listParameters">
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <button class="btn btn-default btnSaveObject" title="Save All Object" style="display: none;"><i class="icon-check position-left"></i> SAVE</button>
                    <a class="btn btn-default" title="Cancel" onclick="window.location.reload()">CANCEL</a>

                    <form th:action="@{'/devices/device_advanced_view/' + ${currentDevice.id} + '/update'}"
                          class="formParameter" method="POST" style="display: none;">
                        <button type="submit">SAVE</button>
                    </form>

                </div>
            </div>

            <!--modal-->
            <div th:replace="devices/dialog/add_object_modal::add_object_modal"></div>
            <!-- /modal-->

        </div>
        <!--// Main content-->

    </div>
</div>
</body>
</html>